<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>ORGANIC CHEMISTRY</b>
            </div>
          </div>
        </div>
      </div>
      <!--<mat-divider></mat-divider>-->
      <form class="form" name="form" (ngSubmit)="f.form.valid && organicChemistrySiteDetailsSave(oc_totalPhosp,oc_tph)"
        #f="ngForm" novalidate>
        <div class="col-sm-12 col-xs-12 formTableSection">
          <div class="row formHeading">
            <div class="clearfix tbl tbl-per-20 text-center"></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Value</b></div>
            <!-- <div class="clearfix tbl tbl-per-10 text-center"><b>Unit</b></div> -->
            <div class="clearfix tbl tbl-per-15 text-center"><b>Historial Graph</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>MQL</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Extraction Method</b></div>
            <div class="clearfix tbl tbl-per-20 text-center"><b>Test Method</b></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">PCB(ppm)</div>
            <div class="clearfix tbl tbl-per-10 text-center organicChemistry">
              <input type="text" class="form-control tbl tbl-per-30" 
                [ngClass]="{'is-invalid': (f.submitted && oc_totalPhospSurfaceValue.invalid),
                'white': oc_totalPhosp.surfaceValue == '',
                'orange': oc_totalPhosp.surfaceValue <= fieldColorValidatior.PCB.prarmaterMean, 
                'green': oc_totalPhosp.surfaceValue <= fieldColorValidatior.PCB.prarmaterMax && 
                  oc_totalPhosp.surfaceValue > fieldColorValidatior.PCB.prarmaterMean, 
                'red': oc_totalPhosp.surfaceValue > fieldColorValidatior.PCB.prarmaterMax}"
                (keyup)="checkValueThreshold(oc_totalPhosp.surfaceValue, fieldColorValidatior.PCB.prarmaterThreshold,
                fieldColorValidatior.PCB.prarmaterStandDevition,fieldColorValidatior.PCB.prarmaterMax)"
                name="oc_totalPhospSurfaceValue" [(ngModel)]="oc_totalPhosp.surfaceValue" #oc_totalPhospSurfaceValue="ngModel"
                required autocomplete="off" />
            </div>
           <!--  <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div> -->
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Total_Phosp"></div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="oc_totalPhosp.mql" name="oc_totalPhospMql"
                #oc_totalPhospMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && oc_totalPhospMql.invalid)}"
                required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="oc_totalPhosp.extractionMethod" name="oc_totalPhospExtractionMethod"
                #oc_totalPhospExtractionMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && oc_totalPhospExtractionMethod.invalid)}"
                required>
                <option value="" disabled selected hidden>Select Extraction Method</option>
                <option *ngFor="let extMethodDetails of extractionMethodDetails" value="{{extMethodDetails.ExtractionMethod_Id}}">{{extMethodDetails.extractionMethod}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="oc_totalPhosp.testMethod" name="oc_totalPhospTestMethod"
                #oc_totalPhospTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && oc_totalPhospTestMethod.invalid)}"
                required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">TPH(ppm)</div>
            <div class="clearfix tbl tbl-per-10 text-center organicChemistry">
              <input type="text" class="form-control tbl tbl-per-30" 
              [ngClass]="{'is-invalid': (f.submitted && oc_tphSurfaceValue.invalid),
              'white': oc_tph.surfaceValue == '',
              'orange': oc_tph.surfaceValue <= fieldColorValidatior.TPH.prarmaterMean, 
              'green': oc_tph.surfaceValue <= fieldColorValidatior.TPH.prarmaterMax && 
               oc_tph.surfaceValue > fieldColorValidatior.TPH.prarmaterMean,
              'red': oc_tph.surfaceValue > fieldColorValidatior.TPH.prarmaterMax}"
              (keyup)="checkValueThreshold(oc_tph.surfaceValue, fieldColorValidatior.TPH.prarmaterThreshold,
              fieldColorValidatior.TPH.prarmaterStandDevition,fieldColorValidatior.TPH.prarmaterMax)"
              autocomplete="off"  name="oc_tphSurfaceValue" [(ngModel)]="oc_tph.surfaceValue" #oc_tphSurfaceValue="ngModel" required />
            </div>
          <!--   <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div> -->
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.TPH"></div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="oc_tph.mql" name="oc_tphMql" #oc_tphMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && oc_tphMql.invalid)}" required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="oc_tph.extractionMethod" name="oc_tphExtractionMethod"
                #oc_tphExtractionMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && oc_tphExtractionMethod.invalid)}"
                required>
                <option value="" disabled selected hidden>Select Extraction Method</option>
                <option *ngFor="let extMethodDetails of extractionMethodDetails" value="{{extMethodDetails.ExtractionMethod_Id}}">{{extMethodDetails.extractionMethod}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="oc_tph.testMethod" name="oc_tphTestMethod"
                #oc_tphTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && oc_tphTestMethod.invalid)}"
                required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group section mar t-20  col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="orgChemTabNavPrev(module)">Previous</button>
              <!-- <button class="btn btn-primary gap gap-5 gap-lr" (click)="organicChemistrySiteDetailsSave(oc_totalPhosp,oc_tph)">Save</button> -->
              <button class="btn btn-primary gap gap-5 gap-lr">Save</button>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="orgChemTabNavNext(module)">Next</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>