<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>MICRO BIOLOGY</b>
            </div>
          </div>
        </div>
      </div>
      <!--<mat-divider></mat-divider>-->
      <form class="form">
        <div class="col-sm-12 col-xs-12 formTableSection">
          <div class="row formHeading">
            <div class="clearfix tbl tbl-per-15 text-center"></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Value</b></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Unit</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Historial Graph</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>MQL</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Extraction Method</b></div>
            <div class="clearfix tbl tbl-per-20 text-center"><b>Test Method</b></div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Total Coliform</div>
            <div class="clearfix tbl tbl-per-10 text-center microbiology">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': totalColiform.surfaceValue <= 35, 'orange': totalColiform.surfaceValue <= 50 && totalColiform.surfaceValue > 35, 'green': totalColiform.surfaceValue > 50}"
                name="totalColiform.surfaceValue" [(ngModel)]="totalColiform.surfaceValue" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              cfu/100ml
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="totalColiform.mql" name="totalColiformMql">
                <option>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="totalColiform.extractionMethod" name="totalColiformExtractionMethod">
                <option>Extraction Method</option>
                <option *ngFor="let extMethodDetails of extractionMethodDetails" value="{{extMethodDetails.ExtractionMethod_Id}}">{{extMethodDetails.extractionMethod}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="totalColiform.testMethod" name="totalColiformTestMethod">
                <option>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Enterococci</div>
            <div class="clearfix tbl tbl-per-10 text-center microbiology">
                <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': enterococci.surfaceValue <= 35, 'orange': enterococci.surfaceValue <= 50 && enterococci.surfaceValue > 35, 'green': enterococci.surfaceValue > 50}"
                  name="enterococci.surfaceValue" [(ngModel)]="enterococci.surfaceValue" />
              </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              cfu/100ml
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="enterococci.mql" name="enterococciMql">
                <option>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="enterococci.extractionMethod" name="enterococciExtractionMethod">
                <option>Extraction Method</option>
                <option *ngFor="let extMethodDetails of extractionMethodDetails" value="{{extMethodDetails.ExtractionMethod_Id}}">{{extMethodDetails.extractionMethod}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="enterococci.testMethod" name="enterococciTestMethod">
                <option>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Fecal Coliform</div>
            <div class="clearfix tbl tbl-per-10 text-center microbiology">
                <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': fecalColiform.surfaceValue <= 35, 'orange': fecalColiform.surfaceValue <= 50 && fecalColiform.surfaceValue > 35, 'green': fecalColiform.surfaceValue > 50}"
                  name="fecalColiform.surfaceValue" [(ngModel)]="fecalColiform.surfaceValue" />
              </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              cfu/100ml
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="fecalColiform.mql" name="fecalColiformMql">
                <option>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="fecalColiform.extractionMethod" name="fecalColiformExtractionMethod">
                <option>Extraction Method</option>
                <option *ngFor="let extMethodDetails of extractionMethodDetails" value="{{extMethodDetails.ExtractionMethod_Id}}">{{extMethodDetails.extractionMethod}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="fecalColiform.testMethod" name="fecalColiformTestMethod">
                <option>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group mar t-20 col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDatePrev()">Previous</button>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="microBiologySiteDateSave(totalColiform,enterococci,fecalColiform)">Save</button>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateNext()">Next</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>