<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>MICROBIOLOGY</b>
            </div>
          </div>
        </div>
      </div>
      <!--<mat-divider></mat-divider>-->
      <form class="form">
        <div class="col-sm-12 col-xs-12 formTableSection">
          <div class="row formHeading">
            <div class="clearfix tbl tbl-per-10 text-left"></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Value</b></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Unit</b></div>
            <div class="clearfix tbl tbl-per-15 text-left"><b>Historial Graph</b></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>MQL</b></div>
            <div class="clearfix tbl tbl-per-20 text-center"><b>Extraction Method</b></div>
            <div class="clearfix tbl tbl-per-25 text-center"><b>Test Method</b></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-10 text-left">Total Coliform</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-50 text-left" /></span>
              <span class="pad l-15">cfu/100ml</span>
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-em" class="form-control tbl tbl-per-100">
                <option>Select Extraction Method</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-10 text-left">Enterococci</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-50 text-left" /></span>
              <span class="pad l-15">cfu/100ml</span>
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-em" class="form-control tbl tbl-per-100">
                <option>Select Extraction Method</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-10 text-left">Fecal Coliform</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-50 text-left" /></span>
              <span class="pad l-15">cfu/100ml</span>
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-15 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-em" class="form-control tbl tbl-per-100">
                <option>Select Extraction Method</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>