<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>MICRO BIOLOGY</b>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form class="form" name="form" (ngSubmit)="f.form.valid && microBiologySiteDateSave(totalColiform,enterococci,fecalColiform)"
      #f="ngForm" novalidate>
      <div class="col-sm-12 col-xs-12 formTableSection">
        <div class="row formHeading">
            <div class="clearfix tbl tbl-per-25 text-center"></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Value</b></div>
            <!-- <div class="clearfix tbl tbl-per-10 text-center"><b>Unit</b></div> -->
            <div class="clearfix tbl tbl-per-15 text-center"><b>Historical Graph</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>MQL</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Extraction Method</b></div>
            <div class="clearfix tbl tbl-per-20 text-center"><b>Test Method</b></div>
        </div>
        <div class="row formRow">
          <div class="clearfix tbl tbl-per-25 text-left">Total coliform (cfu/100ml)</div>
          <div class="clearfix tbl tbl-per-10 text-center microbiology">
            <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'is-invalid': (f.submitted && totalColiformSurfaceValue.invalid),
                'white': totalColiform.surfaceValue == '',
                'orange': (totalColiform.surfaceValue > fieldColorValidatior.Total_Coliform.prarmaterMax &&
                        totalColiform.surfaceValue <= fieldColorValidatior.Total_Coliform.prarmaterMaxValueDeviation) || 
                        (totalColiform.surfaceValue < fieldColorValidatior.Total_Coliform.prarmaterMin &&
                        totalColiform.surfaceValue >= fieldColorValidatior.Total_Coliform.prarmaterMinValueDeviation),
                'red':    (totalColiform.surfaceValue > fieldColorValidatior.Total_Coliform.prarmaterMaxValueDeviation) ||
                          (totalColiform.surfaceValue < fieldColorValidatior.Total_Coliform.prarmaterMinValueDeviation && 
                          totalColiform.surfaceValue >=0),                                               
                'green':  totalColiform.surfaceValue <= fieldColorValidatior.Total_Coliform.prarmaterMax && 
                        totalColiform.surfaceValue >= fieldColorValidatior.Total_Coliform.prarmaterMin}"
            (input)="totalColiformDetailsSave(totalColiform,totalColiform.surfaceValue,
            fieldColorValidatior.Total_Coliform.prarmaterMaxValueDeviation,fieldColorValidatior.Total_Coliform.prarmaterMean,
            fieldColorValidatior.Total_Coliform.prarmaterThreshold,fieldColorValidatior.Total_Coliform.prarmaterStandDeviation)" 
              name="totalColiformSurfaceValue" [(ngModel)]="totalColiform.surfaceValue"
              (focus)="toastClear()" (keypress)="toastClear()" (click)="toastClear()" #totalColiformSurfaceValue="ngModel" autocomplete="off" required OnlyNumber="true" DecimalPlaces="2" />
          </div>
          <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Total_Coliform"
            [threshold]="fieldColorValidatior.Total_Coliform.prarmaterThreshold"></div>
          <div class="clearfix tbl tbl-per-15 text-center">
            <select id="oc-text-MQL" class="form-control" [(ngModel)]="totalColiform.mql" name="totalColiformMql"
              #totalColiformMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalColiformMql.invalid)}" 
              (click)="totalColiformDetailsListSave(totalColiform)" (focus)="toastClear()" required>
              <option value="" disabled selected hidden>Select MQL</option>
              <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
            </select>
          </div>
          <div class="clearfix tbl tbl-per-15 text-center">
            <select id="gc-text-tm" class="form-control" [(ngModel)]="totalColiform.extractionMethod" name="totalColiformExtractionMethod"
              #totalColiformExtractionMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalColiformExtractionMethod.invalid)}"
              (click)="totalColiformDetailsListSave(totalColiform)" (focus)="toastClear()"  required>
              <option value="" disabled selected hidden>Select Extraction Method</option>
              <option *ngFor="let extMethodDetails of extractionMethodDetails" value="{{extMethodDetails.ExtractionMethod_Id}}">{{extMethodDetails.extractionMethod}}</option>
            </select>
          </div>
          <div class="clearfix tbl tbl-per-20 text-center">
            <select id="gc-text-tm" class="form-control" [(ngModel)]="totalColiform.testMethod" name="totalColiformTestMethod"
              #totalColiformTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalColiformTestMethod.invalid)}"
              (click)="totalColiformDetailsListSave(totalColiform)" (focus)="toastClear()"  required>
              <option value="" disabled selected hidden>Select Test Method</option>
              <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
            </select>
          </div>
        </div>

        <div class="row formRow">
          <div class="clearfix tbl tbl-per-25 text-left">Enterococci (cfu/100ml)</div>
          <div class="clearfix tbl tbl-per-10 text-center microbiology">
            <input type="text" class="form-control tbl tbl-per-30" 
            [ngClass]="{'is-invalid': (f.submitted && enterococciSurfaceValue.invalid),
                'white': enterococci.surfaceValue == '',
                'orange': (enterococci.surfaceValue > fieldColorValidatior.Enterococci.prarmaterMax &&
                        enterococci.surfaceValue <= fieldColorValidatior.Enterococci.prarmaterMaxValueDeviation) || 
                        (enterococci.surfaceValue < fieldColorValidatior.Enterococci.prarmaterMin &&
                        enterococci.surfaceValue >= fieldColorValidatior.Enterococci.prarmaterMinValueDeviation),
                'red':    (enterococci.surfaceValue > fieldColorValidatior.Enterococci.prarmaterMaxValueDeviation) ||
                          (enterococci.surfaceValue < fieldColorValidatior.Enterococci.prarmaterMinValueDeviation && 
                          enterococci.surfaceValue >=0),                                               
                'green':  enterococci.surfaceValue <= fieldColorValidatior.Enterococci.prarmaterMax && 
                        enterococci.surfaceValue >= fieldColorValidatior.Enterococci.prarmaterMin}"
              (input)="enterococciDetailsSave(enterococci,enterococci.surfaceValue,
              fieldColorValidatior.Enterococci.prarmaterMaxValueDeviation,fieldColorValidatior.Enterococci.prarmaterMean,
              fieldColorValidatior.Enterococci.prarmaterThreshold,fieldColorValidatior.Enterococci.prarmaterStandDeviation)" 
              name="enterococciSurfaceValue" [(ngModel)]="enterococci.surfaceValue"
              (focus)="toastClear()" (keypress)="toastClear()" (click)="toastClear()" #enterococciSurfaceValue="ngModel" autocomplete="off" required OnlyNumber="true" DecimalPlaces="2" />
          </div>
          <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Enterococci"
            [threshold]="fieldColorValidatior.Enterococci.prarmaterThreshold"></div>
          <div class="clearfix tbl tbl-per-15 text-center">
            <select id="oc-text-MQL" class="form-control" [(ngModel)]="enterococci.mql" name="enterococciMql"
              #enterococciMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && enterococciMql.invalid)}" 
              (click)="enterococciDetailsListSave(enterococci)" (focus)="toastClear()" required>
              <option value="" disabled selected hidden>Select MQL</option>
              <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
            </select>
          </div>
          <div class="clearfix tbl tbl-per-15 text-center">
            <select id="gc-text-tm" class="form-control" [(ngModel)]="enterococci.extractionMethod" name="enterococciExtractionMethod"
              #enterococciExtractionMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && enterococciExtractionMethod.invalid)}"
              (click)="enterococciDetailsListSave(enterococci)" (focus)="toastClear()"  required>
              <option value="" disabled selected hidden>Select Extraction Method</option>
              <option *ngFor="let extMethodDetails of extractionMethodDetails" value="{{extMethodDetails.ExtractionMethod_Id}}">{{extMethodDetails.extractionMethod}}</option>
            </select>
          </div>
          <div class="clearfix tbl tbl-per-20 text-center">
            <select id="gc-text-tm" class="form-control" [(ngModel)]="enterococci.testMethod" name="enterococciTestMethod"
              #enterococciTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && enterococciTestMethod.invalid)}"
              (click)="enterococciDetailsListSave(enterococci)" (focus)="toastClear()"  required>
              <option value="" disabled selected hidden>Select Test Method</option>
              <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
            </select>
          </div>
        </div>

        <div class="row formRow">
          <div class="clearfix tbl tbl-per-25 text-left">Fecal Coliform (cfu/100ml)</div>
          <div class="clearfix tbl tbl-per-10 text-center microbiology">
            <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'is-invalid': (f.submitted && fecalColiformSurfaceValue.invalid),
                    'white': fecalColiform.surfaceValue == '',
                    'orange': (fecalColiform.surfaceValue > fieldColorValidatior.Fecal_Coliform.prarmaterMax &&
                          fecalColiform.surfaceValue <= fieldColorValidatior.Fecal_Coliform.prarmaterMaxValueDeviation) || 
                          (fecalColiform.surfaceValue < fieldColorValidatior.Fecal_Coliform.prarmaterMin &&
                          fecalColiform.surfaceValue >= fieldColorValidatior.Fecal_Coliform.prarmaterMinValueDeviation),
                  'red':    (fecalColiform.surfaceValue > fieldColorValidatior.Fecal_Coliform.prarmaterMaxValueDeviation) ||
                            (fecalColiform.surfaceValue < fieldColorValidatior.Fecal_Coliform.prarmaterMinValueDeviation && 
                            fecalColiform.surfaceValue >=0),                                               
                  'green':  fecalColiform.surfaceValue <= fieldColorValidatior.Fecal_Coliform.prarmaterMax && 
                          fecalColiform.surfaceValue >= fieldColorValidatior.Fecal_Coliform.prarmaterMin}"
              (input)="fecalColiformDetailsSave(fecalColiform,fecalColiform.surfaceValue,
              fieldColorValidatior.Fecal_Coliform.prarmaterMaxValueDeviation,fieldColorValidatior.Fecal_Coliform.prarmaterMean,
              fieldColorValidatior.Fecal_Coliform.prarmaterThreshold,fieldColorValidatior.Fecal_Coliform.prarmaterStandDeviation)" name="fecalColiformSurfaceValue" [(ngModel)]="fecalColiform.surfaceValue"
              (focus)="toastClear()" (keypress)="toastClear()" (click)="toastClear()" #fecalColiformSurfaceValue="ngModel" autocomplete="off" required OnlyNumber="true" DecimalPlaces="2" />
          </div>
          <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Fecal_Coliform"
            [threshold]="fieldColorValidatior.Fecal_Coliform.prarmaterThreshold"></div>
          <div class="clearfix tbl tbl-per-15 text-center">
            <select id="oc-text-MQL" class="form-control" [(ngModel)]="fecalColiform.mql" name="fecalColiformMql"
              #fecalColiformMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && fecalColiformMql.invalid)}" 
              (click)="fecalColiformDetailsListSave(fecalColiform)" (focus)="toastClear()" required>
              <option value="" disabled selected hidden>Select MQL</option>
              <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
            </select>
          </div>
          <div class="clearfix tbl tbl-per-15 text-center">
            <select id="gc-text-tm" class="form-control" [(ngModel)]="fecalColiform.extractionMethod" name="fecalColiformExtractionMethod"
              #fecalColiformExtractionMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && fecalColiformExtractionMethod.invalid)}"
              (click)="fecalColiformDetailsListSave(fecalColiform)" (focus)="toastClear()" required>
              <option value="" disabled selected hidden>Select Extraction Method</option>
              <option *ngFor="let extMethodDetails of extractionMethodDetails" value="{{extMethodDetails.ExtractionMethod_Id}}">{{extMethodDetails.extractionMethod}}</option>
            </select>
          </div>
          <div class="clearfix tbl tbl-per-20 text-center">
            <select id="gc-text-tm" class="form-control" [(ngModel)]="fecalColiform.testMethod" name="fecalColiformTestMethod"
              #fecalColiformTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && fecalColiformTestMethod.invalid)}"
              (click)="fecalColiformDetailsListSave(fecalColiform)" (focus)="toastClear()" required>
              <option value="" disabled selected hidden>Select Test Method</option>
              <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
            </select>
          </div>
        </div>

      </div>
      <div class="form-group mar t-20 col-xs-12 col-sm-12">
        <div class="row text-right">
          <div class="col-xs-12 col-sm-12">
            <div>
              <ul class="legend">
                  <li><span class="CorrectValue"></span>Within range </li>
                  <li><span class="StandardDeviation"></span>20% deviation</li>
                  <li><span class="MoreThresholdValue"></span> Out of range </li>
              </ul>
            </div>
            <button class="btn btn-primary gap gap-5 gap-lr" (click)="microBiologyTabNavPrev(module)">Previous</button>
            <button class="btn btn-primary gap gap-5 gap-lr">Save</button>
            <button class="btn btn-primary gap gap-5 gap-lr" [disabled]="isDisabled" (click)="microBiologyTabNavNext(module)">Next</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>