<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>Site Details</b>
            </div>
          </div>
        </div>
        <!--<mat-divider></mat-divider>-->
      </div>
      
      <div class="silk-card-content">
        <div class="form-group row">
          <label for="sd-text-projectName" class="col-2 col-form-label">Project Name</label>
          <div class="col-2">
            <input class="form-control" type="text" value="SMPL31072018-001" id="sd-text-projectName">
          </div>

          <label for="sd-text-siteCategory" class="col-2 col-form-label">Site Category</label>
          <div class="col-2">
            <select class="form-control" id="sd-text-siteCategory">
              <option>Select Category</option>
            </select>
          </div>

          <label for="sd-text-siteName" class="col-2 col-form-label">Site Name</label>
          <div class="col-2">
            <select class="form-control" id="sd-text-siteName">
              <option>Select SiteName</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>Sample Basic Information</b>
            </div>
          </div>
        </div>
      </div>
      <!--<mat-divider></mat-divider>-->
      <div class="silk-card-content">
        <div class="form-group row">
          <label for="sd-text-number" class="col-sm-2 col-form-label">Number</label>
          <div class="col-sm-2">
            <input class="form-control" type="text" value="SMPL31072018-001" id="sd-text-number">
          </div>

          <label for="sd-text-source" class="col-2 col-form-label">Source</label>
          <div class="col-sm-2">
            <select class="form-control" id="sd-text-source">
              <option>Select Record</option>
            </select>
          </div>
          <label for="sd-text-preservation" class="col-sm-2 col-form-label">Preservation</label>
          <div class="col-sm-2">
            <select class="form-control" id="sd-text-preservation">
              <option>Select Record</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="sd-text-desc" class="col-2 col-form-label">Description</label>
          <div class="col-2">
            <input class="form-control" type="text" value="Select SiteName" id="sd-text-desc">
          </div>

          <label for="sd-date-input" class="col-2 col-form-label">Date</label>
          <div class="col-2">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
          </div>

          <label for="sd-time-input" class="col-2 col-form-label">Time</label>
          <div class="col-2">
            <input class="form-control" type="time" value="13:45:00" id="sd-time-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="sd-text-sampleBy" class="col-2 col-form-label">Sample By</label>
          <div class="col-2">
            <select class="form-control" id="sd-text-sampleBy">
              <option>Select Record</option>
            </select>
          </div>

          <label for="sd-text-eventType" class="col-2 col-form-label">Event Type</label>
          <div class="col-2">
            <select class="form-control" id="sd-text-eventType">
              <option>Select Record</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>