<div class="pageWrapper headerSection">
  <div class="headerSection col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="headerTitle col-xs-8 col-sm-8 col-md-8 col-lg-8">
        Blooms Incidents
      </div>
      <div class="settings col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        <a href="javascript:void(0)" (click)="mondalOpen = !mondalOpen"><i class="fa fa-gear"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
    <div class="silk-card border-success">
      <div class="silk-card-title d-flex justify-content-between">
        <h4>Buoys Incidents Details</h4>
      </div>
      <div class="silk-card">
        <div class="silk-card-content">
          <div class="form-group row">
            <div class="col-3">
              <input class="form-control" type="text" placeholder="Search" (keyup)='updateFilter($event)'>
            </div>
            <label for="example-date-input" class="col-form-label">From Date</label>
            <div class="col-3">
              <input class="form-control" type="date" id="example-date-input" [(ngModel)]="fromDateFilter" (change)="dateRangeValidate(fromDateFilter, 'start')"
                [min]="startMinDate" [max]="startMaxDate" onkeydown="return false" required mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)"
                (mouseWheelDown)="mouseWheelDownFunc(event)">
            </div>
            <label for="example-date-input" class="col-form-label">To Date</label>
            <div class="col-3">
              <input class="form-control" type="date" id="example-date-input" [(ngModel)]="toDateFilter" (change)="dateRangeValidate(toDateFilter, 'end')"
                [min]="endMinDate" [max]="endMaxDate" onkeydown="return false" required mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)"
                (mouseWheelDown)="mouseWheelDownFunc(event)">
            </div>
            <button type="submit" class="send-btn btn btn-primary" (click)="loadBuoysIncidentsData(fromDateFilter,toDateFilter)">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-12 col-full" widget>
    <div class="silk-card border-success pb-0">
      <div class="widget-body" *ngIf="buoysIncidentResultStatus === 'Success' && buoysIncidentDetails.length ===0"
        style="height: 200px;">
        <p>{{buoysIncidentResultStatusMessage}}</p>
      </div>
      <div class="widget-body" *ngIf="buoysIncidentResultStatus === 'Failed'" style="height: 200px;">
        <p>{{buoysIncidentResultStatusMessage}}</p>
      </div>
      <div class="widget-body" *ngIf="buoysIncidentDetails.length > 0">
        <div class="table-responsive">
          <ngx-datatable #table class="material sorting customTable" [rows]="buoysIncidentDetails" [columnMode]="'standard'"
            [columns]="columns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="35" [limit]="5" [selected]="selectedValue"
            [selectionType]="'single'" (select)='onSelect($event)'>
            <ngx-datatable-column name="Severity" [width]="110">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <i class="fa fa-arrow-up " [ngClass]="{'text-success mr-2': value=== 'Low',
                                     'text-warning mr-2' : value=== 'Avg',
                                     'text-danger mr-2': value=== 'High' 
                    }"></i>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Incident Name" [width]="500">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="text-center">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created Date" [width]="200">
              <small class="text-muted"><i class="fa fa-clock-o">{{value}}</i></small>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [width]="200">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="text-center">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-6 col-full buoysIncident" widget *ngIf="buoysIncidentDetails.length > 0">
    <div class="silk-card border-success pb-0 buoysIncidentForm">
      <div class="silk-card-title d-flex justify-content-between">
        <h4><i class="fa fa-comments-o fa-lg mx-1"></i>Buoys Details</h4>
      </div>
      <div class="table-responsive">
        <table class="table table-middle table-striped">
          <tbody class="ng-tns-c6-0">
            <tr class="ng-tns-c6-0">
              <td class="ng-tns-c6-0" style="width: 30%;">Incident Id</td>
              <td class="ng-tns-c6-0">{{selectedValue[0].incidentId}}</td>
            </tr>
            <tr class="ng-tns-c6-0">
              <td class="ng-tns-c6-0">Incident Name</td>
              <td class="ng-tns-c6-0">{{selectedValue[0].incidentName}}</td>
            </tr>
            <!--  <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Location (Lat/Long)</td>
                  <td class="ng-tns-c6-0">{{selectedValue.locationLatLong}}</td>
                </tr> 
                <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Description</td>
                  <td class="ng-tns-c6-0">{{selectedValue.description}}</td>
                </tr>-->
            <tr class="ng-tns-c6-0">
              <td class="ng-tns-c6-0">Site ID</td>
              <td class="ng-tns-c6-0">{{selectedValue[0].stationId}}</td>
            </tr>
            <tr class="ng-tns-c6-0">
              <td class="ng-tns-c6-0">Alert ID</td>
              <td class="ng-tns-c6-0">{{selectedValue[0].alertId}}</td>
            </tr>
            <tr class="ng-tns-c6-0">
              <td class="ng-tns-c6-0">Sensor</td>
              <td class="ng-tns-c6-0">{{selectedValue[0].sensor}}</td>
            </tr>
            <!--  <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Buoys Id</td>
                  <td class="ng-tns-c6-0">{{selectedValue.buoysId}}</td>
                </tr> -->
            <tr class="ng-tns-c6-0">
              <td class="ng-tns-c6-0">Created By</td>
              <td class="ng-tns-c6-0">{{selectedValue[0].createdBy}}</td>
            </tr>
            <tr class="ng-tns-c6-0">
              <td class="ng-tns-c6-0">Created Date</td>
              <td class="ng-tns-c6-0">{{selectedValue[0].createdDate}}</td>
            </tr>

            <tr class="ng-tns-c6-0">
              <td class="ng-tns-c6-0">Status</td>
              <td class="ng-tns-c6-0">
                <!--  <select class="form-control" [disabled]="buyosStatus === 'Closed'" [(ngModel)]="selectedValue[0].status">
                  <option value="" disabled selected hidden>Select Status</option>
                  <option value="Open">Open</option>
                  <option value="In Progress">In Progress</option>
                  <option value="Fixed">Fixed</option>
                  <option value="Re-Open">Re-Open</option>
                  <option value="Closed">Closed</option>
                </select> -->
                <!-- <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'> -->
                <select class="form-control" [disabled]="buyosStatus === 'Closed'" [(ngModel)]="selectedValue[0].status"
                  (ngModelChange)='onOptionsSelected($event)'>
                  <option value="" disabled selected hidden>Select Status</option>
                  <option *ngFor='let staOpen of statusTemp' [value]="staOpen.name">{{staOpen.name}}</option>
                </select>
              </td>
              <!-- <td class="ng-tns-c6-0">{{selectedValue.status}}</td> -->
            </tr>
            <tr class="ng-tns-c6-0">
              <td class="ng-tns-c6-0">Remarks</td>
              <td class="ng-tns-c6-0">
                <textarea class="form-control" [disabled]="buyosStatus === 'Closed'" id="exampleTextarea" rows="3"
                  [(ngModel)]="selectedValue[0].remarks"></textarea>
              </td>
            </tr>
            <tr class="ng-tns-c6-0">
              <td class="ng-tns-c6-0" colspan="2">
                <div class="text-center" style="margin-bottom: 2em;">
                  <button class="btn btn-primary" (click)="updateIncident(selectedValue[0])" [disabled]="buyosStatus ==='Closed'">Update
                    Incident</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-6 col-full buoysIncident" widget *ngIf="buoysIncidentDetails.length > 0">
    <div class="silk-card border-success pb-0 buoysIncidentList" [ngStyle]="{height: incidentListSizeReset()+'px'}">
      <div class="silk-card-title d-flex justify-content-between">
        <h4><i class="fa fa-comments-o fa-lg mx-1"></i>Incident History Details</h4>
      </div>
      <div class="latest-post pt-4" *ngIf="buoysIncidentHistoryDetails.length === 0">
        <div class="media mb-3">
          <div class="media-body">
            <b class="ng-tns-c6-0"> No History for this Incident</b>
          </div>
        </div>
      </div>
      <div class="incidentHistory" *ngIf="buoysIncidentHistoryDetails.length > 0">
        <div class="latest-post pt-4 " *ngFor='let incHistory of buoysIncidentHistoryDetails'>
          <div class="media mb-3">
            <div class="media-body">
              <b class="ng-tns-c6-0"> Updated By: </b>{{incHistory.updatedBy}}
              <b class="ng-tns-c6-0"> Status:</b> {{incHistory.status}} <br>
              <b class="ng-tns-c6-0"> Log Info:</b> {{incHistory.updatedDate}}
              <p> {{incHistory.remarks}}</p>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>