<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>GENERAL CHEMISTRY</b>
            </div>
          </div>
        </div>
      </div>
      <!--<mat-divider></mat-divider>-->
      <form class="form">
        <div class="col-sm-12 col-xs-12 formTableSection">
          <div class="row formHeading">
            <div class="clearfix tbl tbl-per-15 text-center"></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Value</b></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Unit</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Historial Graph</b></div>
            <div class="clearfix tbl tbl-per-25 text-center"><b>MQL</b></div>
            <div class="clearfix tbl tbl-per-25 text-center"><b>Test Method</b></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Total Phosp..</div>
            <div class="clearfix tbl tbl-per-10 text-center qcGeneralChemistryValues">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': totalPhosp.val1 <= 35, 'orange': totalPhosp.val1 <= 50 && totalPhosp.val1 > 35, 'green': totalPhosp.val1 > 50}"
                name="totalPhosp.val1" [(ngModel)]="totalPhosp.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" qc-msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Total Nitrogen.</div>
            <div class="clearfix tbl tbl-per-10 text-center qcGeneralChemistryValues">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': totalNitrogen.val1 <= 35, 'orange': totalNitrogen.val1 <= 50 && totalNitrogen.val1 > 35, 'green': totalNitrogen.val1 > 50}"
                name="totalNitrogen.val1" [(ngModel)]="totalNitrogen.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" qc-msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Nitrite-N</div>
            <div class="clearfix tbl tbl-per-10 text-center qcGeneralChemistryValues">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': nitriteN.val1 <= 35, 'orange': nitriteN.val1 <= 50 && nitriteN.val1 > 35, 'green': nitriteN.val1 > 50}"
                name="nitriteN.val1" [(ngModel)]="nitriteN.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" qc-msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Nitrate-N</div>
            <div class="clearfix tbl tbl-per-10 text-center qcGeneralChemistryValues">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': nitrateN.val1 <= 35, 'orange': nitrateN.val1 <= 50 && nitrateN.val1 > 35, 'green': nitrateN.val1 > 50}"
                name="nitrateN.val1" [(ngModel)]="nitrateN.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" qc-msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Silicate-Sl</div>
            <div class="clearfix tbl tbl-per-10 text-center qcGeneralChemistryValues">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': silicateSl.val1 <= 35, 'orange': silicateSl.val1 <= 50 && silicateSl.val1 > 35, 'green': silicateSl.val1 > 50}"
                name="silicateSl.val1" [(ngModel)]="silicateSl.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" qc-msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Ammonia-N</div>
            <div class="clearfix tbl tbl-per-10 text-center qcGeneralChemistryValues">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ammoniaN.val1 <= 35, 'orange': ammoniaN.val1 <= 50 && ammoniaN.val1 > 35, 'green': ammoniaN.val1 > 50}"
                name="ammoniaN.val1" [(ngModel)]="ammoniaN.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" qc-msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Phosphate-P</div>
            <div class="clearfix tbl tbl-per-10 text-center qcGeneralChemistryValues">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': phosphateP.val1 <= 35, 'orange': phosphateP.val1 <= 50 && phosphateP.val1 > 35, 'green': phosphateP.val1 > 50}"
                name="phosphateP.val1" [(ngModel)]="phosphateP.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" qc-msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">BOD</div>
            <div class="clearfix tbl tbl-per-10 text-center qcGeneralChemistryValues">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': bod.val1 <= 35, 'orange': bod.val1 <= 50 && bod.val1 > 35, 'green': bod.val1 > 50}"
                name="bod.val1" [(ngModel)]="bod.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" qc-msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">TSS</div>
            <div class="clearfix tbl tbl-per-10 text-center qcGeneralChemistryValues">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': tss.val1 <= 35, 'orange': tss.val1 <= 50 && tss.val1 > 35, 'green': tss.val1 > 50}"
                name="tss.val1" [(ngModel)]="tss.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" qc-msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group mar t-20 col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDatePrev()">Previous</button>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateSave()">Save</button>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateNext()">Next</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>