<div class="pageWrapper headerSection">
    <div class="headerSection col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="headerTitle col-xs-8 col-sm-8 col-md-8 col-lg-8">
                Download MWQ Data
            </div>
            <div class="settings col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                <a href="javascript:void(0)" (click)="mondalOpen = !mondalOpen"><i class="fa fa-gear"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
        <div class="silk-card border-success">
            <div class="silk-card-title d-flex justify-content-between">
                <!--  <h4>Download MWQ Data</h4> -->
            </div>
            <div class="silk-card">
                <div class="silk-card-content">
                    <div class="form-group row">
                        <!-- <div class="col-3">
                  <input class="form-control" type="text" placeholder="Search" (keyup)='updateFilter($event)'>
                </div> -->
                        <label for="example-date-input" class="col-form-label">From Date</label>
                        <div class="col-3">
                            <input class="form-control" type="date" id="example-date-input" [(ngModel)]="fromDateFilter"
                                (change)="dateRangeValidate(fromDateFilter, 'start')" [min]="startMinDate" [max]="startMaxDate"
                                onkeydown="return false" required mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)"
                                (mouseWheelDown)="mouseWheelDownFunc(event)">
                        </div>
                        <label for="example-date-input" class="col-form-label">To Date</label>
                        <div class="col-3">
                            <input class="form-control" type="date" id="example-date-input" [(ngModel)]="toDateFilter"
                                (change)="dateRangeValidate(toDateFilter, 'end')" [min]="endMinDate" [max]="endMaxDate"
                                onkeydown="return false" required mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)"
                                (mouseWheelDown)="mouseWheelDownFunc(event)">
                        </div>
                        <button type="submit" class="send-btn btn btn-primary" (click)="downloadMwqData(fromDateFilter,toDateFilter)">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
        <div class="silk-card border-success">
            <div class="widget-body" *ngIf="downloadMwqDataResultStatus === 'Success' && downloadMwqDataDetails.length ===0"
                style="height: 300px;">
                <p>{{downloadMwqDataResultStatusMessage}}</p>
            </div>
            <div class="widget-body" *ngIf="downloadMwqDataResultStatus === 'Failed'" style="height: 300px;">
                <p>{{downloadMwqDataResultStatusMessage}}</p>
            </div>
            <div class="widget-body" *ngIf="downloadMwqDataDetails.length > 0">
                <!-- <ngx-datatable class="material" [rows]="downloadMwqDataDetails" [columnMode]="'standard'"
                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="25" [limit]="10" [scrollbarH]="true">
                    <ngx-datatable-column name="Site Name">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Temperature">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Conductivity">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Salinity">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="pH">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Dissolve Oxygen" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Chlorophyll">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Sechi Disc Reading" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nitrite-N">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nitrate-N">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Silicate-Si">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Ammonia-N">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Phosphate-P">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="BOD">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="TSS">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Cadmium Water" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Chromium Water" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Cobalt Water">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Copper">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Lead">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Manganese">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nickel">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Zinc">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Iron">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Mercury">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Cadmium Sediment" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Cobalt Sediment" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Chromium Sediment" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Lead Sediment" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Copper Sediment" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nickel Sediment" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Manganese Sediment" [width]="250">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Zinc Sediment">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Iron Sediment">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Mercury Sediment" [width]="200">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="PCB Sediment">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="TPH Sediment">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Total Coliform">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Fecal Coliform">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Enterococci">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Created Date" [width]="250">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div class="text-center">{{value}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable> -->
                <ngx-datatable class="material" [rows]="downloadMwqDataDetails" [columnMode]="'standard'"
                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="36" [limit]="10" [columns]="columns" [scrollbarH]="true"
                    [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)='onSelect($event)'>
                </ngx-datatable>
                <div class="form-group mar t-20 col-xs-12 col-sm-12">
                    <div class="row text-right">
                        <div class="col-xs-12 col-sm-12">
                            <button class="btn btn-primary gap gap-5 gap-lr" [disabled]="isDisabled" (click)="exportAsXLSX()">Export to Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>