<div class="pageWrapper headerSection">
    <div class="headerSection col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="headerTitle col-xs-8 col-sm-8 col-md-8 col-lg-8">
          Download MWQ Data
        </div>
        <div class="settings col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
          <a href="javascript:void(0)" (click)="mondalOpen = !mondalOpen"><i class="fa fa-gear"></i></a>
        </div>
      </div>
    </div>
  </div>
<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
    <div class="silk-card border-success">
      <div class="silk-card-title d-flex justify-content-between">
       <!--  <h4>Download MWQ Data</h4> -->
      </div>
      <div class="silk-card">
        <div class="silk-card-content">
          <div class="form-group row">
            <!-- <div class="col-3">
                  <input class="form-control" type="text" placeholder="Search" (keyup)='updateFilter($event)'>
                </div> -->
            <label for="example-date-input" class="col-form-label">From Date</label>
            <div class="col-3">
              <input class="form-control" type="date" value="2018-08-19" id="example-date-input">
            </div>
            <label for="example-date-input" class="col-form-label">To Date</label>
            <div class="col-3">
              <input class="form-control" type="date" value="2018-11-08" id="example-date-input">
            </div>
            <button type="submit" class="send-btn btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card border-success">
      <div class="widget-body">
        <ngx-datatable class="material" [rows]="downloadMwqDataDetails" [columnMode]="'force'" [headerHeight]="50"
          [footerHeight]="50" [rowHeight]="25" [limit]="10" [scrollbarH]="true">
          <ngx-datatable-column name="Site Name"></ngx-datatable-column>
          <ngx-datatable-column name="Temperature"></ngx-datatable-column>
          <ngx-datatable-column name="Conductivity"></ngx-datatable-column>
          <ngx-datatable-column name="Salinity"></ngx-datatable-column>
          <ngx-datatable-column name="pH"></ngx-datatable-column>
          <ngx-datatable-column name="DissolveOxygen"></ngx-datatable-column>
          <ngx-datatable-column name="Chlorophyll"></ngx-datatable-column>
          <ngx-datatable-column name="Sechi Disc Reading"></ngx-datatable-column>
          <ngx-datatable-column name="Nitrite-N"></ngx-datatable-column>
          <ngx-datatable-column name="Nitrate-N"></ngx-datatable-column>
          <ngx-datatable-column name="Silicate-Si"></ngx-datatable-column>
          <ngx-datatable-column name="Ammonia-N"></ngx-datatable-column>
          <ngx-datatable-column name="Phosphate-P"></ngx-datatable-column>
          <ngx-datatable-column name="BOD"></ngx-datatable-column>
          <ngx-datatable-column name="TSS"></ngx-datatable-column>
          <ngx-datatable-column name="Cadmium Water"></ngx-datatable-column>
          <ngx-datatable-column name="Chromium Water"></ngx-datatable-column>
          <ngx-datatable-column name="Cobalt Water"></ngx-datatable-column>
          <ngx-datatable-column name="Copper"></ngx-datatable-column>
          <ngx-datatable-column name="Lead"></ngx-datatable-column>
          <ngx-datatable-column name="Manganese"></ngx-datatable-column>
          <ngx-datatable-column name="Nickel"></ngx-datatable-column>
          <ngx-datatable-column name="Zinc"></ngx-datatable-column>
          <ngx-datatable-column name="Iron"></ngx-datatable-column>
          <ngx-datatable-column name="Mercury"></ngx-datatable-column>
          <ngx-datatable-column name="Cadmium Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="Cobalt Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="Chromium Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="Lead Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="Copper Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="Nickel Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="Manganese Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="Zinc Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="Iron Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="Mercury Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="PCB Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="TPH Sediment"></ngx-datatable-column>
          <ngx-datatable-column name="Total Coliform"></ngx-datatable-column>
          <ngx-datatable-column name="Fecal Coliform"></ngx-datatable-column>
          <ngx-datatable-column name="Enterococci"></ngx-datatable-column>
          <ngx-datatable-column name="Created Date"></ngx-datatable-column>
        </ngx-datatable>
        <div class="form-group mar t-20 col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="exportAsXLSX()">Export to Excel</button>
              <!-- <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateSave()">Cancel</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>