<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
    <div class="silk-card border-success">
      <div class="silk-card-title d-flex justify-content-between">
        <!-- <h4>QC Information</h4> -->
      </div>
      <div class="silk-card-content widget-body">

        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <!-- <ngx-datatable class="material fullscreen" style="top: 52px" [columnMode]="'force'" [headerHeight]="50"
                  [footerHeight]="0" [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" [rows]="qcInfoDetails">
                  <ngx-datatable-column name="Site Id" [width]="80"></ngx-datatable-column>
                  <ngx-datatable-column name="Site Name" [width]="300"></ngx-datatable-column>
                  <ngx-datatable-column name="Category"></ngx-datatable-column>
                  <ngx-datatable-column name="Sample Ref Number"></ngx-datatable-column>
                  <ngx-datatable-column name="Mwq Uploaded Date" [width]="300"></ngx-datatable-column>
                  <ngx-datatable-column name="Status" [width]="300"></ngx-datatable-column>
                </ngx-datatable> -->
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Site Id</th>
                      <th>Site Name</th>
                      <th>Category</th>
                      <th>Sample Number</th>
                      <th>MWQ Data Upload Date</th>
                      <th>Updated By</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of qcInfoDetails">
                      <td>{{item.siteID}}</td>
                      <td>{{item.siteName}}</td>
                      <td>{{item.category}}</td>
                      <td>{{item.sampleRefNumber}}</td>
                      <td>{{item.mwqUploadedDate}}</td>
                      <td>{{item.updatedBy}}</td>
                      <td>{{item.status}}</td>
                      <td><a href="javascript:void(0)" (click)="qcEditRow(item.sampleRefNumber)">Edit</a></td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <!--end of .table-responsive-->
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-md-offset-12 col-sm-8 col-sm-offset-2 top" style="margin-top: 12em;">
        <div class="row text-right">
          <div class="col-xs-12 col-sm-12">
            <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateNext()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>