<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card border-success">
      <div class="widget-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
          <div class="widget-body">
            <ngx-datatable class="material" [rows]="restItems" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="25" [limit]="10" [scrollbarH]="true">
              <ngx-datatable-column name="Site Name"></ngx-datatable-column>
              <ngx-datatable-column name="Temperature"></ngx-datatable-column>
              <ngx-datatable-column name="Blue GreenAlgae"></ngx-datatable-column>
              <ngx-datatable-column name="Conductivity"></ngx-datatable-column>
              <ngx-datatable-column name="Battery"></ngx-datatable-column>
              <ngx-datatable-column name="Cholorophylla"></ngx-datatable-column>
              <ngx-datatable-column name="Salinity"></ngx-datatable-column>
              <ngx-datatable-column name="Do Sat"></ngx-datatable-column>
              <ngx-datatable-column name="Domgl"></ngx-datatable-column>
              <ngx-datatable-column name="ph"></ngx-datatable-column>
              <ngx-datatable-column name="Created Date"></ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
        <div class="form-group mar t-20 col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="exportAsXLSX()">Export to Excel</button>
              <!-- <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateSave()">Cancel</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>