<div class="container">
  <!-- <div class="col-md-3"></div> -->
  <div class="col-md-9">
    <div class="panel panel-primary  ">
      <div class="panel-heading panel-color"><i class="fa fa-chevron-down"></i> QC Comments</div>
      <div class="panel-body border">
          <textarea style="border:none; height: 10em; width: 52em;"></textarea>
      </div>
    </div>
    <div style="margin-top:2%">
      Qc Status:
      <select>
        <option selected="selected">Approved</option>
        <option>Rejected</option>
      </select>
    </div>
    
  </div>
  <div class="col-md-12 col-md-offset-12 col-sm-8 col-sm-offset-2 top" style="margin-top: 12em;">
      <div class="row text-right">
          <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDatePrev()">Previous</button>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateSave()">Submit</button>
              <!-- <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateNext()">Next</button> -->
          </div>
      </div>
  </div>
</div>