<div class="pageWrapper headerSection">
  <div class="headerSection col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="headerTitle col-xs-8 col-sm-8 col-md-8 col-lg-8">
        Blooms Incidents
      </div>
      <div class="settings col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        <a href="javascript:void(0)" (click)="mondalOpen = !mondalOpen"><i class="fa fa-gear"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
    <div class="silk-card border-success">
      <div class="silk-card-title d-flex justify-content-between">
        <h4>Blooms Incidents Details</h4>
      </div>
      <div class="silk-card">
        <div class="silk-card-content">
          <div class="form-group row">
            <div class="col-3">
              <input class="form-control" type="text" placeholder="Search" (keyup)='updateFilter($event)'>
            </div>
            <label for="example-date-input" class="col-form-label">From Date</label>
            <div class="col-3">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
            <label for="example-date-input" class="col-form-label">To Date</label>
            <div class="col-3">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
            <button type="submit" class="send-btn btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
  <tabset class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <tab heading="Incidents">
      <ngx-datatable class="material sorting customTable" [rows]="bllomIncidentRows" [columnMode]="'force'" [columns]="columns"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="15" [selected]="selectedRow"
        [selectionType]="'single'" (select)='onSelect($event)'>
        <ngx-datatable-column name="Incident Severity" >
          <ng-template let-value="value" ngx-datatable-cell-template class="text-center">
            <i class="fa fa-arrow-up " [ngClass]="{'text-success mr-2': value=== 'Low',
                               'text-warning mr-2' : value=== 'Avg',
                               'text-danger mr-2': value=== 'High' 
              }"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Incident Description"></ngx-datatable-column>
        <ngx-datatable-column name="Incident Reported DateTime">
          <span class="glyphicon glyphicon-time"></span>{{value}}
        </ngx-datatable-column>
      </ngx-datatable>
    </tab>
    <tab heading="History">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-12 col-full" widget>
        <div class="silk-card border-success pb-0">
          <div class="silk-card-title d-flex justify-content-between">
            <h4><i class="fa fa-comments-o fa-lg mx-1"></i>Bloom Details</h4>
          </div>

          <div class="table-responsive">
            <table class="table table-middle table-striped" *ngFor='let sel of selectedRow'>
              <tbody class="ng-tns-c6-0">
                <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Incident Id</td>
                  <td class="ng-tns-c6-0">{{sel.bloomIncidentId}}</td>
                </tr>
                <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Incident Name</td>
                  <td class="ng-tns-c6-0">{{sel.incidentName}}</td>
                </tr>
                <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Location (Lat/Long)</td>
                  <td class="ng-tns-c6-0">{{sel.locationLatLong}}</td>
                </tr>
                <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Description</td>
                  <td class="ng-tns-c6-0">{{sel.description}}</td>
                </tr>
                <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Area Covered(Sq/M)</td>
                  <td class="ng-tns-c6-0">{{sel.areaCovered}}</td>
                </tr>
                <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Area Name</td>
                  <td class="ng-tns-c6-0">{{sel.areaName}}</td>
                </tr>
                <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Bloom Type</td>
                  <td class="ng-tns-c6-0">{{sel.bloomType}}</td>
                </tr>
                <tr class="ng-tns-c6-0">
                  <td class="ng-tns-c6-0">Affected Species</td>
                  <td class="ng-tns-c6-0">{{sel.affectedSpecies}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>