<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>IN-ORGANIC CHEMISTRY(WATER)</b>
            </div>
          </div>
        </div>
      </div>
      <!--<mat-divider></mat-divider>-->
      <form class="form">
        <div class="col-sm-12 col-xs-12 formTableSection">
          <div class="row formHeading">
            <div class="clearfix tbl tbl-per-15 text-center"></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Value</b></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Unit</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Historial Graph</b></div>
            <div class="clearfix tbl tbl-per-25 text-center"><b>MQL</b></div>
            <div class="clearfix tbl tbl-per-25 text-center"><b>Test Method</b></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Cadmium</div>
            <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistryWater">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': iow_cadmium.val1 <= 35, 'orange': iow_cadmium.val1 <= 50 && iow_cadmium.val1 > 35, 'green': iow_cadmium.val1 > 50}"
                name="iow_cadmium.val1" [(ngModel)]="iow_cadmium.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Chromium</div>
            <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistryWater">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': iow_chromium.val1 <= 35, 'orange': iow_chromium.val1 <= 50 && iow_chromium.val1 > 35, 'green': iow_chromium.val1 > 50}"
                name="iow_chromium.val1" [(ngModel)]="iow_chromium.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Cobalt</div>
            <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistryWater">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': iow_cobalt.val1 <= 35, 'orange': iow_cobalt.val1 <= 50 && iow_cobalt.val1 > 35, 'green': iow_cobalt.val1 > 50}"
                name="iow_cobalt.val1" [(ngModel)]="iow_cobalt.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Copper</div>
            <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistryWater">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': iow_copper.val1 <= 35, 'orange': iow_copper.val1 <= 50 && iow_copper.val1 > 35, 'green': iow_copper.val1 > 50}"
                name="iow_copper.val1" [(ngModel)]="iow_copper.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Lead</div>
            <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistryWater">
                <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': iow_lead.val1 <= 35, 'orange': iow_lead.val1 <= 50 && iow_lead.val1 > 35, 'green': iow_lead.val1 > 50}"
                name="iow_lead.val1" [(ngModel)]="iow_lead.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Manganese</div>
            <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistryWater">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': iow_manganese.val1 <= 35, 'orange': iow_manganese.val1 <= 50 && iow_manganese.val1 > 35, 'green': iow_manganese.val1 > 50}"
                name="iow_manganese.val1" [(ngModel)]="iow_manganese.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Nickel</div>
            <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistryWater">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': iow_nickel.val1 <= 35, 'orange': iow_nickel.val1 <= 50 && iow_nickel.val1 > 35, 'green': iow_nickel.val1 > 50}"
                name="iow_nickel.val1" [(ngModel)]="iow_nickel.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Zinc</div>
            <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistryWater">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': iow_zinc.val1 <= 35, 'orange': iow_zinc.val1 <= 50 && iow_zinc.val1 > 35, 'green': iow_zinc.val1 > 50}"
                name="iow_zinc.val1" [(ngModel)]="iow_zinc.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Iron</div>
            <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistryWater">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': iow_iron.val1 <= 35, 'orange': iow_iron.val1 <= 50 && iow_iron.val1 > 35, 'green': iow_iron.val1 > 50}"
                name="iow_iron.val1" [(ngModel)]="iow_iron.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Mercury</div>
            <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistryWater">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': iow_mercury.val1 <= 35, 'orange': iow_mercury.val1 <= 50 && iow_mercury.val1 > 35, 'green': iow_mercury.val1 > 50}"
                name="iow_mercury.val1" [(ngModel)]="iow_mercury.val1" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              ug/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
          <div class="silk-card">
            <div class="silk-card-title">
              <div class="headerSection">
                <div class="row">
                  <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <b>Inorganic Chemistry (Sediment)</b>
                  </div>
                </div>
              </div>
            </div>
            <!--<mat-divider></mat-divider>-->
            <form class="form">
              <div class="col-sm-12 col-xs-12 formTableSection">
                <div class="row formHeading">
                  <div class="clearfix tbl tbl-per-15 text-center"></div>
                  <div class="clearfix tbl tbl-per-10 text-center"><b>Value</b></div>
                  <div class="clearfix tbl tbl-per-10 text-center"><b>Unit</b></div>
                  <div class="clearfix tbl tbl-per-15 text-center"><b>Historial Graph</b></div>
                  <div class="clearfix tbl tbl-per-25 text-center"><b>MQL</b></div>
                  <div class="clearfix tbl tbl-per-25 text-center"><b>Test Method</b></div>
                </div>
                <div class="row formRow">
                  <div class="clearfix tbl tbl-per-15 text-left">Cadmium</div>
                  <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistrySediment">
                      <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ios_cadmium.val1 <= 35, 'orange': ios_cadmium.val1 <= 50 && ios_cadmium.val1 > 35, 'green': ios_cadmium.val1 > 50}"
                        name="ios_cadmium.val1" [(ngModel)]="ios_cadmium.val1" />
                  </div>
                  <div class="clearfix tbl tbl-per-10 text-center">
                    mg/Kg
                  </div>
                  <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="oc-text-MQL" class="form-control">
                      <option>Select MQL</option>
                    </select>
                  </div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="gc-text-tm" class="form-control">
                      <option>Select Test Method</option>
                    </select>
                  </div>
                </div>

                <div class="row formRow">
                  <div class="clearfix tbl tbl-per-15 text-left">Chromium</div>
                  <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistrySediment">
                      <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ios_chromium.val1 <= 35, 'orange': ios_chromium.val1 <= 50 && ios_chromium.val1 > 35, 'green': ios_chromium.val1 > 50}"
                        name="ios_chromium.val1" [(ngModel)]="ios_chromium.val1" />
                  </div>
                  <div class="clearfix tbl tbl-per-10 text-center">
                    mg/Kg
                  </div>
                  <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="oc-text-MQL" class="form-control">
                      <option>Select MQL</option>
                    </select>
                  </div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="gc-text-tm" class="form-control">
                      <option>Select Test Method</option>
                    </select>
                  </div>
                </div>

                <div class="row formRow">
                  <div class="clearfix tbl tbl-per-15 text-left">Cobalt</div>
                  <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistrySediment">
                      <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ios_cobalt.val1 <= 35, 'orange': ios_cobalt.val1 <= 50 && ios_cobalt.val1 > 35, 'green': ios_cobalt.val1 > 50}"
                        name="ios_cobalt.val1" [(ngModel)]="ios_cobalt.val1" />
                  </div>
                  <div class="clearfix tbl tbl-per-10 text-center">
                    mg/Kg
                  </div>
                  <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="oc-text-MQL" class="form-control">
                      <option>Select MQL</option>
                    </select>
                  </div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="gc-text-tm" class="form-control">
                      <option>Select Test Method</option>
                    </select>
                  </div>
                </div>

                <div class="row formRow">
                  <div class="clearfix tbl tbl-per-15 text-left">Copper</div>
                  <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistrySediment">
                      <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ios_copper.val1 <= 35, 'orange': ios_copper.val1 <= 50 && ios_copper.val1 > 35, 'green': ios_copper.val1 > 50}"
                        name="ios_copper.val1" [(ngModel)]="ios_copper.val1" />
                  </div>
                  <div class="clearfix tbl tbl-per-10 text-center">
                    mg/Kg
                  </div>
                  <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="oc-text-MQL" class="form-control">
                      <option>Select MQL</option>
                    </select>
                  </div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="gc-text-tm" class="form-control">
                      <option>Select Test Method</option>
                    </select>
                  </div>
                </div>


                <div class="row formRow">
                  <div class="clearfix tbl tbl-per-15 text-left">Lead</div>
                  <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistrySediment">
                      <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ios_lead.val1 <= 35, 'orange': ios_lead.val1 <= 50 && ios_lead.val1 > 35, 'green': ios_lead.val1 > 50}"
                        name="ios_lead.val1" [(ngModel)]="ios_lead.val1" />
                  </div>
                  <div class="clearfix tbl tbl-per-10 text-center">
                    mg/Kg
                  </div>
                  <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="oc-text-MQL" class="form-control">
                      <option>Select MQL</option>
                    </select>
                  </div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="gc-text-tm" class="form-control">
                      <option>Select Test Method</option>
                    </select>
                  </div>
                </div>


                <div class="row formRow">
                  <div class="clearfix tbl tbl-per-15 text-left">Manganese</div>
                  <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistrySediment">
                      <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ios_manganese.val1 <= 35, 'orange': ios_manganese.val1 <= 50 && ios_manganese.val1 > 35, 'green': ios_manganese.val1 > 50}"
                        name="ios_manganese.val1" [(ngModel)]="ios_manganese.val1" />
                  </div>
                  <div class="clearfix tbl tbl-per-10 text-center">
                    mg/Kg
                  </div>
                  <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="oc-text-MQL" class="form-control">
                      <option>Select MQL</option>
                    </select>
                  </div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="gc-text-tm" class="form-control">
                      <option>Select Test Method</option>
                    </select>
                  </div>
                </div>

                <div class="row formRow">
                  <div class="clearfix tbl tbl-per-15 text-left">Nickel</div>
                  <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistrySediment">
                      <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ios_nickel.val1 <= 35, 'orange': ios_nickel.val1 <= 50 && ios_nickel.val1 > 35, 'green': ios_nickel.val1 > 50}"
                        name="ios_nickel.val1" [(ngModel)]="ios_nickel.val1" />
                  </div>
                  <div class="clearfix tbl tbl-per-10 text-center">
                    mg/Kg
                  </div>
                  <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="oc-text-MQL" class="form-control">
                      <option>Select MQL</option>
                    </select>
                  </div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="gc-text-tm" class="form-control">
                      <option>Select Test Method</option>
                    </select>
                  </div>
                </div>

                <div class="row formRow">
                  <div class="clearfix tbl tbl-per-15 text-left">Zinc</div>
                  <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistrySediment">
                      <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ios_zinc.val1 <= 35, 'orange': ios_zinc.val1 <= 50 && ios_zinc.val1 > 35, 'green': ios_zinc.val1 > 50}"
                        name="ios_zinc.val1" [(ngModel)]="ios_zinc.val1" />
                  </div>
                  <div class="clearfix tbl tbl-per-10 text-center">
                    mg/Kg
                  </div>
                  <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="oc-text-MQL" class="form-control">
                      <option>Select MQL</option>
                    </select>
                  </div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="gc-text-tm" class="form-control">
                      <option>Select Test Method</option>
                    </select>
                  </div>
                </div>

                <div class="row formRow">
                  <div class="clearfix tbl tbl-per-15 text-left">Iron</div>
                  <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistrySediment">
                      <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ios_iron.val1 <= 35, 'orange': ios_iron.val1 <= 50 && ios_iron.val1 > 35, 'green': ios_iron.val1 > 50}"
                        name="ios_iron.val1" [(ngModel)]="ios_iron.val1" />
                  </div>
                  <div class="clearfix tbl tbl-per-10 text-center">
                    mg/Kg
                  </div>
                  <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="oc-text-MQL" class="form-control">
                      <option>Select MQL</option>
                    </select>
                  </div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="gc-text-tm" class="form-control">
                      <option>Select Test Method</option>
                    </select>
                  </div>
                </div>

                <div class="row formRow">
                  <div class="clearfix tbl tbl-per-15 text-left">Mercury</div>
                  <div class="clearfix tbl tbl-per-10 text-center inOrganicChemistrySediment">
                      <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': ios_mercury.val1 <= 35, 'orange': ios_mercury.val1 <= 50 && ios_mercury.val1 > 35, 'green': ios_mercury.val1 > 50}"
                        name="ios_mercury.val1" [(ngModel)]="ios_mercury.val1" />
                  </div>
                  <div class="clearfix tbl tbl-per-10 text-center">
                    mg/Kg
                  </div>
                  <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="oc-text-MQL" class="form-control">
                      <option>Select MQL</option>
                    </select>
                  </div>
                  <div class="clearfix tbl tbl-per-25 text-center">
                    <select id="gc-text-tm" class="form-control">
                      <option>Select Test Method</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="form-group mar t-20 col-xs-12 col-sm-12">
        <div class="row text-right">
          <div class="col-xs-12 col-sm-12">
            <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDatePrev()">Previous</button>
            <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateSave()">Save</button>
            <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateNext()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>