<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <!--<mat-divider></mat-divider>-->
      <form class="form">
        <div class="silk-card-title">
          <div class="headerSection">
            <div class="row">
              <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <b>In-Organic Chemistry(Water)</b>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 formTableSection">
          <div class="row formHeading">
            <div class="clearfix tbl tbl-per-20 text-left"></div>
            <div class="clearfix tbl tbl-per-10 text-left"><b>Value</b></div>
            <div class="clearfix tbl tbl-per-10 text-left"><b>Unit</b></div>
            <div class="clearfix tbl tbl-per-25 text-left"><b>Historial Graph</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>MQL</b></div>
            <div class="clearfix tbl tbl-per-20 text-center"><b>Test Method</b></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Total Coliform</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">ug/L</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Chromium</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">ug/L</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Cobalt</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">ug/L</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Copper</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">ug/L</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Lead</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">ug/L</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Manganese</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">ug/L</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Nickel</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">ug/L</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Zinc</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">ug/L</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Iron</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">ug/L</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Mercury</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">ug/L</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>
        </div>
        <div class="silk-card-title mar t-20">
          <div class="headerSection">
            <div class="row">
              <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <b>Inorganic Chemistry (Sediment)</b>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 formTableSection">
          <div class="row formHeading">
            <div class="clearfix tbl tbl-per-20 text-left"></div>
            <div class="clearfix tbl tbl-per-10 text-left"><b>Value</b></div>
            <div class="clearfix tbl tbl-per-10 text-left"><b>Unit</b></div>
            <div class="clearfix tbl tbl-per-25 text-left"><b>Historial Graph</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>MQL</b></div>
            <div class="clearfix tbl tbl-per-20 text-center"><b>Test Method</b></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Total Coliform</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">mg/Kg</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Chromium</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">mg/Kg</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Cobalt</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">mg/Kg</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Copper</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">mg/Kg</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Lead</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">mg/Kg</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Manganese</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">mg/Kg</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Nickel</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">mg/Kg</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Zinc</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">mg/Kg</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Iron</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">mg/Kg</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>


          <div class="row formRow">
            <div class="clearfix tbl tbl-per-20 text-left">Mercury</div>
            <div class="clearfix tbl tbl-per-20 text-left">
              <span><input type="text" class="form-control tbl tbl-per-40 text-left" /></span>
              <span class="pad l-15">mg/Kg</span>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">Historial Graph</div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-MQL" class="form-control tbl tbl-per-100">
                <option>Select MQL</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-20 text-center">
              <select id="oc-text-tm" class="form-control tbl tbl-per-100">
                <option>Select Test Method</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group section mar t-20  col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDatePrev()">Previous</button>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateSave()">Save</button>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateNext()">Next</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>