.inOrganicChemistryWater{
    >input{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 75%;
        height: 30px;
        font-size: 12px;
        padding: 0px;
        text-align: center;
        &.inputOutline {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            font-weight: bold;
            font-size: inherit;
        }

        &.green {
            background-color: #2abd2a;
            color: #fff;
        }
        &.orange {
            background-color: #f60;
            color: #000;
        }
        &.red {
            background-color: #c00;
            color: #fff;
        }
        &.white {
            background-color: #fff;
            color: #000;
        }
    }
}

.inOrganicChemistrySediment{
    >input{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 75%;
        height: 30px;
        font-size: 12px;
        padding: 0px;
        text-align: center;
        &.inputOutline {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            font-weight: bold;
            font-size: inherit;
        }

        &.green {
            background-color: #2abd2a;
            color: #fff;
        }
        &.orange {
            background-color: #f60;
            color: #000;
        }
        &.red {
            background-color: #c00;
            color: #fff;
        }
        &.white {
            background-color: #fff;
            color: #000;
        }
    }
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: #C00000;
}
/* basic positioning */
.legend { list-style: none;  position: absolute;    left: -46px;    top: 10px;}
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 18px; height: 17px; margin: 2px; }
/* your colors */
.legend .StandardDeviation { background-color: #f60; }
.legend .MoreThresholdValue { background-color: #c00; }
.legend .CorrectValue { background-color: #2abd2a; }