<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
    <div class="silk-card border-success">
      <div class="silk-card-title d-flex justify-content-between">
        <!-- <h4>QC Information</h4> -->
      </div>
      <div class="silk-card-content widget-body">

        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table summary="This table shows how to create responsive tables using Bootstrap's default functionality"
                  class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Site Id</th>
                      <th>Sample Number</th>
                      <th>MWQ Data Upload Date</th>
                      <th>Updated By</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>S001</td>
                      <td>SMPL31072018-001</td>
                      <td>31/07/2018 10:48 AM</td>
                      <td>--</td>
                      <td>Submitted</td>
                      <td><i>EDIT</i></td>
                    </tr>

                    <tr>
                        <td>S001</td>
                        <td>SMPL17082018-002</td>
                        <td>17/08/2018 11:21 AM</td>
                        <td>--</td>
                        <td>Submitted</td>
                        <td><i>EDIT</i></td>
                      </tr>

                      <tr>
                          <td>S001</td>
                          <td>SMPL04092018-001</td>
                          <td>04/09/2018 12:28 PM</td>
                          <td>--</td>
                          <td>Submitted</td>
                          <td><i>EDIT</i></td>
                        </tr>
                    
                  </tbody>
                  <tfoot>
                    <tr>
                      <!-- <td colspan="5" class="text-center">Data retrieved from <a href="http://www.infoplease.com/ipa/A0855611.html"
                          target="_blank">infoplease</a> and <a href="http://www.worldometers.info/world-population/population-by-country/"
                          target="_blank">worldometers</a>.</td> -->
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!--end of .table-responsive-->
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-md-offset-12 col-sm-8 col-sm-offset-2 top" style="margin-top: 12em;">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12" >
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateNext()">Next</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>