<div class="pageWrapper headerSection">
  <div class="headerSection col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="headerTitle col-xs-8 col-sm-8 col-md-8 col-lg-8">
        Manage LIMS Services
      </div>
      <div class="settings col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        <a href="javascript:void(0)" (click)="mondalOpen = !mondalOpen"><i class="fa fa-gear"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card border-success">
      <div class="silk-card-title d-flex justify-content-between">
        <!-- <h4>Manage LIMS Services</h4> -->
      </div>
      <div class="widget-body">
        <ngx-datatable #mydatatable class="material" [scrollbarH]="true"  [headerHeight]="50" [columnMode]="'standard'" [footerHeight]="50"
          [rowHeight]="'30'" [rows]="restItems" [scrollbarH]="true">
          <ngx-datatable-column name="S No" [width]="80">
              <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center">{{value}}</div>
                </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Name" [width]="250">
              <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center">{{value}}</div>
                </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Web Service Url" [width]="700">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-webServiceUrl'] = true" *ngIf="!editing[rowIndex + '-webServiceUrl']">
                  <div class="text-center">{{value}}</div>
              </span>
              <input autofocus (blur)="updateValue($event, 'webServiceUrl', rowIndex)" *ngIf="editing[rowIndex+ '-webServiceUrl']"
                type="text" [value]="value"  size="90" />
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>