<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>GENERAL CHEMISTRY</b>
            </div>
          </div>
        </div>
      </div>

      <form class="form" name="form" (ngSubmit)="f.form.valid && generalChemistryDetailsSave(totalPhosp,totalNitrogen,nitriteN,nitrateN,silicateSl,ammoniaN,phosphateP,bod,tss)"
        #f="ngForm" novalidate>
        <div class="form-group mar t-20 col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="genChemTabNavPrev(module)">Previous</button>
              <button class="btn btn-primary gap gap-5 gap-lr">Save</button>
              <button class="btn btn-primary gap gap-5 gap-lr" [disabled]="isDisabled" (click)="genChemTabNavNext(module)">Next</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 formTableSection">
          <div class="row formHeading">
            <div class="clearfix tbl tbl-per-15 text-center"></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Value</b></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Unit</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Historical Graph</b></div>
            <div class="clearfix tbl tbl-per-25 text-center"><b>MQL</b></div>
            <div class="clearfix tbl tbl-per-25 text-center"><b>Test Method</b></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Total Phosp
              <!-- {{totalPhosp.surfaceValue  | json}} - {{fieldColorValidatior.TotalPhosp.prarmaterMax |json}} -->
            </div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" autocomplete="off" class="form-control tbl tbl-per-30" [ngClass]="{
                      'is-invalid': (f.submitted && totalPhospSurfaceValue.invalid),
                      'white': totalPhosp.surfaceValue == '',
                      'orange': totalPhosp.surfaceValue <= fieldColorValidatior.TotalPhosp.prarmaterMean, 
                      'green': totalPhosp.surfaceValue <= fieldColorValidatior.TotalPhosp.prarmaterMax 
                             && totalPhosp.surfaceValue > fieldColorValidatior.TotalPhosp.prarmaterMean, 
                      'red': totalPhosp.surfaceValue > fieldColorValidatior.TotalPhosp.prarmaterMax}"
                name="totalPhospSurfaceValue" [(ngModel)]="totalPhosp.surfaceValue" (keyup)="checkValueThreshold(totalPhosp.surfaceValue, fieldColorValidatior.TotalPhosp.prarmaterThreshold, 
                                            fieldColorValidatior.TotalPhosp.prarmaterStandDevition, 
                                            fieldColorValidatior.TotalPhosp.prarmaterMax)"
                #totalPhospSurfaceValue="ngModel" required OnlyNumber="true" (input)="totalPhospDetailsSave(totalPhosp)"
                (focus)="toastClear()" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.TotalPhosp"
              [threshold]="fieldColorValidatior.TotalPhosp.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="totalPhosp.mql" name="totalPhospMql"
                #totalPhospMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalPhospMql.invalid)}" required
                (click)="totalPhospDetailsSave(totalPhosp)">
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="totalPhosp.testMethod" name="totalPhospTestMethod"
                #totalPhospTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalPhospTestMethod.invalid)}"
                required (click)="totalPhospDetailsSave(totalPhosp)">
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Total Nitrogen</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{
                       'is-invalid': (f.submitted && totalNitrogenSurfaceValue.invalid),
                       'white': totalNitrogen.surfaceValue == '',
                       'orange': totalNitrogen.surfaceValue <= fieldColorValidatior.Total_Nitrogen.prarmaterMean, 
                       'green': totalNitrogen.surfaceValue <= fieldColorValidatior.Total_Nitrogen.prarmaterMax 
                                && totalNitrogen.surfaceValue > fieldColorValidatior.Total_Nitrogen.prarmaterMean, 
                       'red': totalNitrogen.surfaceValue > fieldColorValidatior.Total_Nitrogen.prarmaterMax}"
                name="totalNitrogenSurfaceValue" [(ngModel)]="totalNitrogen.surfaceValue" #totalNitrogenSurfaceValue="ngModel"
                (keyup)="checkValueThreshold(totalNitrogen.surfaceValue, 
                          fieldColorValidatior.Total_Nitrogen.prarmaterThreshold,
                          fieldColorValidatior.Total_Nitrogen.prarmaterStandDevition,
                          fieldColorValidatior.Total_Nitrogen.prarmaterMax)"
                (input)="totalNitrogenDetailsSave(totalNitrogen)" required autocomplete="off" OnlyNumber="true"
                (focus)="toastClear()" required />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Total_Nitrogen"
              [threshold]="fieldColorValidatior.Total_Nitrogen.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="totalNitrogen.mql" name="totalNitrogenMql"
                #totalNitrogenMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalNitrogenMql.invalid)}"
                (click)="totalNitrogenDetailsSave(totalNitrogen)" required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="totalNitrogen.testMethod" name="totalNitrogenTestMethod"
                #totalNitrogenTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalNitrogenTestMethod.invalid)}"
                (click)="totalNitrogenDetailsSave(totalNitrogen)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Nitrite-N (μg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{
                  'is-invalid': (f.submitted && nitriteNsurfaceValue.invalid),
                  'white': nitriteN.surfaceValue == '',
                  'orange': nitriteN.surfaceValue <= fieldColorValidatior.Nitrite_N.prarmaterMean, 
                  'green': nitriteN.surfaceValue <= fieldColorValidatior.Nitrite_N.prarmaterMax 
                        && nitriteN.surfaceValue > fieldColorValidatior.Nitrite_N.prarmaterMean, 
                  'red': nitriteN.surfaceValue > fieldColorValidatior.Nitrite_N.prarmaterMax}"
                name="nitriteNsurfaceValue" [(ngModel)]="nitriteN.surfaceValue" #nitriteNsurfaceValue="ngModel" (keyup)="checkValueThreshold(nitriteN.surfaceValue, 
                          fieldColorValidatior.Nitrite_N.prarmaterThreshold,
                          fieldColorValidatior.Nitrite_N.prarmaterStandDevition,
                          fieldColorValidatior.Nitrite_N.prarmaterMax)"
                (focus)="toastClear()" (input)="nitriteNDetailsSave(nitriteN)" required autocomplete="off" OnlyNumber="true" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Nitrite_N"
              [threshold]="fieldColorValidatior.Nitrite_N.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="nitriteN.mql" name="nitriteNMql" #nitriteNMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && nitriteNMql.invalid)}" required (click)="nitriteNDetailsSave(nitriteN)">
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="nitriteN.testMethod" name="nitriteNTestMethod"
                #nitriteNTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && nitriteNTestMethod.invalid)}"
                (click)="nitriteNDetailsSave(nitriteN)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Nitrate-N (μg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{
                    'is-invalid': (f.submitted && nitrateNsurfaceValue.invalid),
                    'white': nitrateN.surfaceValue == '',
                    'orange': nitrateN.surfaceValue <= fieldColorValidatior.Nitrate_N.prarmaterMean, 
                    'green': nitrateN.surfaceValue <= fieldColorValidatior.Nitrate_N.prarmaterMax 
                        && nitrateN.surfaceValue > fieldColorValidatior.Nitrate_N.prarmaterMean, 
                    'red': nitrateN.surfaceValue > fieldColorValidatior.Nitrate_N.prarmaterMax}"
                name="nitrateNsurfaceValue" [(ngModel)]="nitrateN.surfaceValue" #nitrateNsurfaceValue="ngModel" (keyup)="checkValueThreshold(nitrateN.surfaceValue, 
                  fieldColorValidatior.Nitrate_N.prarmaterThreshold,
                  fieldColorValidatior.Nitrate_N.prarmaterStandDevition,
                  fieldColorValidatior.Nitrate_N.prarmaterMax)"
                  (focus)="toastClear()" (input)="nitrateNDetailsSave(nitrateN)" required autocomplete="off" OnlyNumber="true" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Nitrate_N"
              [threshold]="fieldColorValidatior.Nitrate_N.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="nitrateN.mql" name="nitrateNMql" #nitrateNMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && nitrateNMql.invalid)}" (click)="nitrateNDetailsSave(nitrateN)"
                required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="nitrateN.testMethod" name="nitrateNTestMethod"
                #nitrateNTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && nitrateNTestMethod.invalid)}"
                (click)="nitrateNDetailsSave(nitrateN)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Silicate-Si (μg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'is-invalid': (f.submitted && silicateSlsurfaceValue.invalid),
                'white': silicateSl.surfaceValue == '',
                'orange': silicateSl.surfaceValue <= fieldColorValidatior.Silicate_Sl.prarmaterMean, 
                'green': silicateSl.surfaceValue <= fieldColorValidatior.Silicate_Sl.prarmaterMax  
                    && silicateSl.surfaceValue > fieldColorValidatior.Silicate_Sl.prarmaterMean, 
                'red': silicateSl.surfaceValue > fieldColorValidatior.Silicate_Sl.prarmaterMax }"
                name="silicateSlsurfaceValue" [(ngModel)]="silicateSl.surfaceValue" #silicateSlsurfaceValue="ngModel"
                (keyup)="checkValueThreshold(silicateSl.surfaceValue, 
                        fieldColorValidatior.Silicate_Sl.prarmaterThreshold,
                        fieldColorValidatior.Silicate_Sl.prarmaterStandDevition,
                        fieldColorValidatior.Silicate_Sl.prarmaterMax)"
                (focus)="toastClear()" (input)="silicateSlDetailsSave(silicateSl)" required autocomplete="off" OnlyNumber="true" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Silicate_Sl"
              [threshold]="fieldColorValidatior.Silicate_Sl.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="silicateSl.mql" name="silicateSlMql"
                #silicateSlMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && silicateSlMql.invalid)}" (click)="silicateSlDetailsSave(silicateSl)"
                required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="silicateSl.testMethod" name="silicateSlTestMethod"
                #silicateSlTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && silicateSlTestMethod.invalid)}"
                (click)="silicateSlDetailsSave(silicateSl)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Ammonia-N (μg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'is-invalid': (f.submitted && ammoniaNsurfaceValue.invalid),
              'white': ammoniaN.surfaceValue == '',
              'orange': ammoniaN.surfaceValue <= fieldColorValidatior.Ammonia_N.prarmaterMean, 
              'green': ammoniaN.surfaceValue <= fieldColorValidatior.Ammonia_N.prarmaterMax 
                  && ammoniaN.surfaceValue > fieldColorValidatior.Ammonia_N.prarmaterMean, 
              'red': ammoniaN.surfaceValue > fieldColorValidatior.Ammonia_N.prarmaterMax }"
                (keyup)="checkValueThreshold(ammoniaN.surfaceValue, 
                  fieldColorValidatior.Ammonia_N.prarmaterThreshold,
                  fieldColorValidatior.Ammonia_N.prarmaterStandDevition,
                  fieldColorValidatior.Ammonia_N.prarmaterMax)"
                (focus)="toastClear()" (input)="ammoniaNDetailsSave(ammoniaN)" name="ammoniaNsurfaceValue" [(ngModel)]="ammoniaN.surfaceValue"
                #ammoniaNsurfaceValue="ngModel" required autocomplete="off" OnlyNumber="true" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Ammonia_N"
              [threshold]="fieldColorValidatior.Ammonia_N.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="ammoniaN.mql" name="ammoniaNMql" #ammoniaNMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && ammoniaNMql.invalid)}" (click)="ammoniaNDetailsSave(ammoniaN)"
                required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="ammoniaN.testMethod" name="ammoniaNTestMethod"
                #ammoniaNTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && ammoniaNTestMethod.invalid)}"
                (click)="ammoniaNDetailsSave(ammoniaN)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Phosphate-P (μg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" name="phosphatePsurfaceValue" [(ngModel)]="phosphateP.surfaceValue"
                [ngClass]="{'is-invalid': (f.submitted && phosphatePsurfaceValue.invalid),
              'white': phosphateP.surfaceValue == '',
              'orange': phosphateP.surfaceValue <= fieldColorValidatior.Phosphate_P.prarmaterMean, 
              'green': phosphateP.surfaceValue <= fieldColorValidatior.Phosphate_P.prarmaterMax 
                  && phosphateP.surfaceValue > fieldColorValidatior.Phosphate_P.prarmaterMean, 
              'red': phosphateP.surfaceValue > fieldColorValidatior.Phosphate_P.prarmaterMax }"
                (keyup)="checkValueThreshold(phosphateP.surfaceValue, 
                fieldColorValidatior.Phosphate_P.prarmaterThreshold,
                fieldColorValidatior.Phosphate_P.prarmaterStandDevition,
                fieldColorValidatior.Phosphate_P.prarmaterMax)"
                (focus)="toastClear()" (input)="phosphatePDetailsSave(phosphateP)" #phosphatePsurfaceValue="ngModel" required autocomplete="off"
                OnlyNumber="true" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Phosphate_P"
              [threshold]="fieldColorValidatior.Phosphate_P.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="phosphateP.mql" name="phosphatePMql"
                #phosphatePMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && phosphatePMql.invalid)}" (click)="phosphatePDetailsSave(phosphateP)"
                required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="phosphateP.testMethod" name="phosphatePTestMethod"
                #phosphatePTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && phosphatePTestMethod.invalid)}"
                (click)="phosphatePDetailsSave(phosphateP)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">BOD (mg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" pattern="^[0-9]{1,5}$" class="form-control tbl tbl-per-30" name="bodSurfaceValue"
                [(ngModel)]="bod.surfaceValue" [ngClass]="{'is-invalid': (f.submitted && bodSurfaceValue.invalid),
                            'white': bod.surfaceValue == '',
                            'orange': bod.surfaceValue <= fieldColorValidatior.BOD.prarmaterMean, 
                            'green': bod.surfaceValue <= fieldColorValidatior.BOD.prarmaterMax  
                                && bod.surfaceValue > fieldColorValidatior.BOD.prarmaterMean, 
                            'red': bod.surfaceValue > fieldColorValidatior.BOD.prarmaterMax }"
                (keyup)="checkValueThreshold(bod.surfaceValue, 
                                            fieldColorValidatior.BOD.prarmaterThreshold,
                                            fieldColorValidatior.BOD.prarmaterStandDevition,
                                            fieldColorValidatior.BOD.prarmaterMax)"
                (focus)="toastClear()" (input)="bodDetailsSave(bod)" #bodSurfaceValue="ngModel" required autocomplete="off" OnlyNumber="true" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              mg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.BOD" [threshold]="fieldColorValidatior.BOD.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="bod.mql" name="bodMql" #bodMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && bodMql.invalid)}" (click)="bodDetailsSave(bod)" required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="bod.testMethod" name="bodTestMethod"
                #bodTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && bodTestMethod.invalid)}" (click)="bodDetailsSave(bod)"
                required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">TSS (mg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" name="tssSurfaceValue" [(ngModel)]="tss.surfaceValue"
                [ngClass]="{'is-invalid': (f.submitted && tssSurfaceValue.invalid),
                            'white': tss.surfaceValue == '',
                            'orange': tss.surfaceValue <= fieldColorValidatior.TSS.prarmaterMean, 
                            'green': tss.surfaceValue <= fieldColorValidatior.TSS.prarmaterMax 
                                && tss.surfaceValue > fieldColorValidatior.TSS.prarmaterMean, 
                            'red': tss.surfaceValue > fieldColorValidatior.TSS.prarmaterMax}"
                (keyup)="checkValueThreshold(tss.surfaceValue, fieldColorValidatior.TSS.prarmaterThreshold,
                  fieldColorValidatior.TSS.prarmaterStandDevition, 
                  fieldColorValidatior.TSS.prarmaterMa)"
                (focus)="toastClear()" (input)="tssDetailsSave(tss)" #tssSurfaceValue="ngModel" required autocomplete="off" OnlyNumber="true" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              mg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.TSS" [threshold]="fieldColorValidatior.TSS.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="tss.mql" name="tssMql" #tssMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && tssMql.invalid)}" (click)="tssDetailsSave(tss)" required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="tss.testMethod" name="tssTestMethod"
                #tssTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && tssTestMethod.invalid)}" (click)="tssDetailsSave(tss)"
                required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group mar t-20 col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <div>
                <ul class="legend">
                  <li><span class="StandardDeviation"></span>Data is not comply with validation rules </li>
                  <br />
                  <li><span class="MoreThresholdValue"></span>Data is out of bounds </li>
                  <br />
                  <li><span class="CorrectValue"></span>Data is okay </li>
                </ul>
              </div>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="genChemTabNavPrev(module)">Previous</button>
              <button class="btn btn-primary gap gap-5 gap-lr">Save</button>
              <button class="btn btn-primary gap gap-5 gap-lr" [disabled]="isDisabled" (click)="genChemTabNavNext(module)">Next</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>