<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>GENERAL CHEMISTRY</b>
            </div>
          </div>
        </div>
      </div>

      <form class="form" name="form" (ngSubmit)="f.form.valid && generalChemistryDetailsSave(totalPhosp,totalNitrogen,nitriteN,nitrateN,silicateSl,ammoniaN,phosphateP,bod,tss)"
        #f="ngForm" novalidate>
        <div class="form-group mar t-20 col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="genChemTabNavPrev(module)">Previous</button>
              <button class="btn btn-primary gap gap-5 gap-lr">Save</button>
              <button class="btn btn-primary gap gap-5 gap-lr" [disabled]="isDisabled" (click)="genChemTabNavNext(module)">Next</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 formTableSection">
          <div class="row formHeading">
            <div class="clearfix tbl tbl-per-15 text-center"></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Value</b></div>
            <div class="clearfix tbl tbl-per-10 text-center"><b>Unit</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Historical Graph</b></div>
            <div class="clearfix tbl tbl-per-25 text-center"><b>MQL</b></div>
            <div class="clearfix tbl tbl-per-25 text-center"><b>Test Method</b></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Total Phosp
              <!-- {{totalPhosp.surfaceValue  | json}} - {{fieldColorValidatior.TotalPhosp.prarmaterMax |json}} -->
            </div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" autocomplete="off" class="form-control tbl tbl-per-30" (focus)="toastClear()" (keypress)="toastClear()" (click)="toastClear()"
                    [ngClass]="{'is-invalid'  : (f.submitted && totalPhospSurfaceValue.invalid), 
                                'white' : totalPhosp.surfaceValue == '',
                                'orange': (totalPhosp.surfaceValue > fieldColorValidatior.TotalPhosp.prarmaterMax &&
                                          totalPhosp.surfaceValue <= fieldColorValidatior.TotalPhosp.prarmaterMaxValueDeviation) || 
                                          (totalPhosp.surfaceValue < fieldColorValidatior.TotalPhosp.prarmaterMin &&
                                          totalPhosp.surfaceValue >= fieldColorValidatior.TotalPhosp.prarmaterMinValueDeviation),
                                'red':    (totalPhosp.surfaceValue > fieldColorValidatior.TotalPhosp.prarmaterMaxValueDeviation) ||
                                          (totalPhosp.surfaceValue < fieldColorValidatior.TotalPhosp.prarmaterMinValueDeviation && 
                                          totalPhosp.surfaceValue >=0),                                               
                                'green':  totalPhosp.surfaceValue <= fieldColorValidatior.TotalPhosp.prarmaterMax && 
                                          totalPhosp.surfaceValue >= fieldColorValidatior.TotalPhosp.prarmaterMin}"
                      name="totalPhospSurfaceValue" [(ngModel)]="totalPhosp.surfaceValue" 
                      #totalPhospSurfaceValue="ngModel" required OnlyNumber="true" DecimalPlaces="2" 
                      (input)="totalPhospDetailsSave(totalPhosp,totalPhosp.surfaceValue,
                      fieldColorValidatior.TotalPhosp.prarmaterMaxValueDeviation,fieldColorValidatior.TotalPhosp.prarmaterMean,
                      fieldColorValidatior.TotalPhosp.prarmaterThreshold,fieldColorValidatior.TotalPhosp.prarmaterStandDeviation)" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">μg/L</div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.TotalPhosp"
              [threshold]="fieldColorValidatior.TotalPhosp.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="totalPhosp.mql" name="totalPhospMql"
                #totalPhospMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalPhospMql.invalid)}" required
                (focus)="toastClear()" (keypress)="toastClear()" (click)="totalPhospDetailsListSave(totalPhosp)">
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="totalPhosp.testMethod" name="totalPhospTestMethod"
                #totalPhospTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalPhospTestMethod.invalid)}"
                (focus)="toastClear()" (keypress)="toastClear()"  required (click)="totalPhospDetailsListSave(totalPhosp)">
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Total Nitrogen</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" (focus)="toastClear()" (keypress)="toastClear()"  
                    autocomplete="off" OnlyNumber="true" DecimalPlaces="2" required
                    [ngClass]="{'is-invalid': (f.submitted && totalNitrogenSurfaceValue.invalid),
                            'white' : totalNitrogen.surfaceValue == '',
                            'orange': (totalNitrogen.surfaceValue > fieldColorValidatior.Total_Nitrogen.prarmaterMax &&
                                      totalNitrogen.surfaceValue <= fieldColorValidatior.Total_Nitrogen.prarmaterMaxValueDeviation) || 
                                      (totalNitrogen.surfaceValue < fieldColorValidatior.Total_Nitrogen.prarmaterMin &&
                                      totalNitrogen.surfaceValue >= fieldColorValidatior.Total_Nitrogen.prarmaterMinValueDeviation),
                            'red':    (totalNitrogen.surfaceValue > fieldColorValidatior.Total_Nitrogen.prarmaterMaxValueDeviation) ||
                                      (totalNitrogen.surfaceValue < fieldColorValidatior.Total_Nitrogen.prarmaterMinValueDeviation && 
                                      totalNitrogen.surfaceValue >=0),                                               
                            'green':  totalNitrogen.surfaceValue <= fieldColorValidatior.Total_Nitrogen.prarmaterMax && 
                                      totalNitrogen.surfaceValue >= fieldColorValidatior.Total_Nitrogen.prarmaterMin}"
                name="totalNitrogenSurfaceValue" [(ngModel)]="totalNitrogen.surfaceValue" #totalNitrogenSurfaceValue="ngModel"
                (input)="totalNitrogenDetailsSave(totalNitrogen,totalNitrogen.surfaceValue,
                fieldColorValidatior.Total_Nitrogen.prarmaterMaxValueDeviation,fieldColorValidatior.Total_Nitrogen.prarmaterMean,
                fieldColorValidatior.Total_Nitrogen.prarmaterThreshold,fieldColorValidatior.Total_Nitrogen.prarmaterStandDeviation)" 
                />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Total_Nitrogen"
              [threshold]="fieldColorValidatior.Total_Nitrogen.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="totalNitrogen.mql" name="totalNitrogenMql"
                #totalNitrogenMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalNitrogenMql.invalid)}"
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="totalNitrogenDetailsListSave(totalNitrogen)" required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="totalNitrogen.testMethod" name="totalNitrogenTestMethod"
                #totalNitrogenTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && totalNitrogenTestMethod.invalid)}"
                (focus)="toastClear()" (click)="totalNitrogenDetailsListSave(totalNitrogen)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Nitrite-N (μg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" (focus)="toastClear()" (keypress)="toastClear()"  autocomplete="off" OnlyNumber="true" DecimalPlaces="2"
                     name="nitriteNsurfaceValue" [(ngModel)]="nitriteN.surfaceValue" #nitriteNsurfaceValue="ngModel" required
                    [ngClass]="{'is-invalid': (f.submitted && nitriteNsurfaceValue.invalid),
                                'white':  nitriteN.surfaceValue == '',
                                'orange': (nitriteN.surfaceValue > fieldColorValidatior.Nitrite_N.prarmaterMax &&
                                          nitriteN.surfaceValue <= fieldColorValidatior.Nitrite_N.prarmaterMaxValueDeviation) || 
                                          (nitriteN.surfaceValue < fieldColorValidatior.Nitrite_N.prarmaterMin &&
                                          nitriteN.surfaceValue >= fieldColorValidatior.Nitrite_N.prarmaterMinValueDeviation),
                                'red':    (nitriteN.surfaceValue > fieldColorValidatior.Nitrite_N.prarmaterMaxValueDeviation) ||
                                          (nitriteN.surfaceValue < fieldColorValidatior.Nitrite_N.prarmaterMinValueDeviation && 
                                          nitriteN.surfaceValue >=0),                                               
                                'green':  nitriteN.surfaceValue <= fieldColorValidatior.Nitrite_N.prarmaterMax && 
                                          nitriteN.surfaceValue >= fieldColorValidatior.Nitrite_N.prarmaterMin}"
                    (input)="nitriteNDetailsSave(nitriteN,nitriteN.surfaceValue,fieldColorValidatior.Nitrite_N.prarmaterMaxValueDeviation,
                            fieldColorValidatior.Nitrite_N.prarmaterMean,fieldColorValidatior.Nitrite_N.prarmaterThreshold,
                            fieldColorValidatior.Nitrite_N.prarmaterStandDeviation)"   />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">μg/L</div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Nitrite_N"
              [threshold]="fieldColorValidatior.Nitrite_N.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="nitriteN.mql" name="nitriteNMql" #nitriteNMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && nitriteNMql.invalid)}" required 
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="nitriteNDetailsListSave(nitriteN)">
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="nitriteN.testMethod" name="nitriteNTestMethod"
                #nitriteNTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && nitriteNTestMethod.invalid)}"
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="nitriteNDetailsListSave(nitriteN)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Nitrate-N (μg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" name="nitrateNsurfaceValue" [(ngModel)]="nitrateN.surfaceValue" 
              #nitrateNsurfaceValue="ngModel"  (focus)="toastClear()" (keypress)="toastClear()"  required autocomplete="off" OnlyNumber="true" DecimalPlaces="2"
              [ngClass]="{'is-invalid': (f.submitted && nitrateNsurfaceValue.invalid),
                          'white' : nitrateN.surfaceValue == '',
                          'orange': (nitrateN.surfaceValue > fieldColorValidatior.Nitrate_N.prarmaterMax &&
                                    nitrateN.surfaceValue <= fieldColorValidatior.Nitrate_N.prarmaterMaxValueDeviation) || 
                                    (nitrateN.surfaceValue < fieldColorValidatior.Nitrate_N.prarmaterMin &&
                                    nitrateN.surfaceValue >= fieldColorValidatior.Nitrate_N.prarmaterMinValueDeviation),
                          'red':    (nitrateN.surfaceValue > fieldColorValidatior.Nitrate_N.prarmaterMaxValueDeviation) ||
                                    (nitrateN.surfaceValue < fieldColorValidatior.Nitrate_N.prarmaterMinValueDeviation && 
                                    nitrateN.surfaceValue >=0),                                               
                          'green':  nitrateN.surfaceValue <= fieldColorValidatior.Nitrate_N.prarmaterMax && 
                                    nitrateN.surfaceValue >= fieldColorValidatior.Nitrate_N.prarmaterMin}"
                 (input)="nitrateNDetailsSave(nitrateN,nitrateN.surfaceValue,
                 fieldColorValidatior.Nitrate_N.prarmaterMaxValueDeviation,fieldColorValidatior.Nitrate_N.prarmaterMean,
                 fieldColorValidatior.Nitrate_N.prarmaterThreshold,fieldColorValidatior.Nitrate_N.prarmaterStandDeviation)"  />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">μg/L</div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Nitrate_N"
              [threshold]="fieldColorValidatior.Nitrate_N.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="nitrateN.mql" name="nitrateNMql" #nitrateNMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && nitrateNMql.invalid)}" 
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="nitrateNDetailsListSave(nitrateN)"
                required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="nitrateN.testMethod" name="nitrateNTestMethod"
                #nitrateNTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && nitrateNTestMethod.invalid)}"
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="nitrateNDetailsListSave(nitrateN)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Silicate-Si (μg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" name="silicateSlsurfaceValue" [(ngModel)]="silicateSl.surfaceValue" 
              #silicateSlsurfaceValue="ngModel"  (focus)="toastClear()" (keypress)="toastClear()" autocomplete="off" OnlyNumber="true" DecimalPlaces="2" required
              [ngClass]="{'is-invalid': (f.submitted && silicateSlsurfaceValue.invalid),
                'white' : silicateSl.surfaceValue == '',
                'orange': (silicateSl.surfaceValue > fieldColorValidatior.Silicate_Sl.prarmaterMax &&
                                    silicateSl.surfaceValue <= fieldColorValidatior.Silicate_Sl.prarmaterMaxValueDeviation) || 
                                    (silicateSl.surfaceValue < fieldColorValidatior.Silicate_Sl.prarmaterMin &&
                                    silicateSl.surfaceValue >= fieldColorValidatior.Silicate_Sl.prarmaterMinValueDeviation),
                'red':    (silicateSl.surfaceValue > fieldColorValidatior.Silicate_Sl.prarmaterMaxValueDeviation) ||
                                    (silicateSl.surfaceValue < fieldColorValidatior.Silicate_Sl.prarmaterMinValueDeviation && 
                                    silicateSl.surfaceValue >=0),                                               
                'green':  silicateSl.surfaceValue <= fieldColorValidatior.Silicate_Sl.prarmaterMax && 
                                    silicateSl.surfaceValue >= fieldColorValidatior.Silicate_Sl.prarmaterMin}"
                (input)="silicateSlDetailsSave(silicateSl,silicateSl.surfaceValue,
                fieldColorValidatior.Silicate_Sl.prarmaterMaxValueDeviation,fieldColorValidatior.Silicate_Sl.prarmaterMean,
                fieldColorValidatior.Silicate_Sl.prarmaterThreshold,fieldColorValidatior.Silicate_Sl.prarmaterStandDeviation)"   />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Silicate_Sl"
              [threshold]="fieldColorValidatior.Silicate_Sl.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="silicateSl.mql" name="silicateSlMql"
                #silicateSlMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && silicateSlMql.invalid)}" 
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="silicateSlDetailsListSave(silicateSl)"
                required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="silicateSl.testMethod" name="silicateSlTestMethod"
                #silicateSlTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && silicateSlTestMethod.invalid)}"
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="silicateSlDetailsListSave(silicateSl)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Ammonia-N (μg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30"  (focus)="toastClear()" (keypress)="toastClear()"  
              name="ammoniaNsurfaceValue" [(ngModel)]="ammoniaN.surfaceValue" #ammoniaNsurfaceValue="ngModel" required autocomplete="off" OnlyNumber="true" DecimalPlaces="2"
              [ngClass]="{'is-invalid': (f.submitted && ammoniaNsurfaceValue.invalid),
                          'white':  ammoniaN.surfaceValue == '',
                          'orange': (ammoniaN.surfaceValue > fieldColorValidatior.Ammonia_N.prarmaterMax &&
                                    ammoniaN.surfaceValue <= fieldColorValidatior.Ammonia_N.prarmaterMaxValueDeviation) || 
                                    (ammoniaN.surfaceValue < fieldColorValidatior.Ammonia_N.prarmaterMin &&
                                    ammoniaN.surfaceValue >= fieldColorValidatior.Ammonia_N.prarmaterMinValueDeviation),
                          'red':    (ammoniaN.surfaceValue > fieldColorValidatior.Ammonia_N.prarmaterMaxValueDeviation) ||
                                    (ammoniaN.surfaceValue < fieldColorValidatior.Ammonia_N.prarmaterMinValueDeviation && 
                                    ammoniaN.surfaceValue >=0),                                               
                          'green':  ammoniaN.surfaceValue <= fieldColorValidatior.Ammonia_N.prarmaterMax && 
                                    ammoniaN.surfaceValue >= fieldColorValidatior.Ammonia_N.prarmaterMin}"
                (input)="ammoniaNDetailsSave(ammoniaN,ammoniaN.surfaceValue,
                fieldColorValidatior.Ammonia_N.prarmaterMaxValueDeviation,fieldColorValidatior.Ammonia_N.prarmaterMean,
                fieldColorValidatior.Ammonia_N.prarmaterThreshold,fieldColorValidatior.Ammonia_N.prarmaterStandDeviation)" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Ammonia_N"
              [threshold]="fieldColorValidatior.Ammonia_N.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="ammoniaN.mql" name="ammoniaNMql" #ammoniaNMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && ammoniaNMql.invalid)}" 
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="ammoniaNDetailsListSave(ammoniaN)"
                required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="ammoniaN.testMethod" name="ammoniaNTestMethod"
                #ammoniaNTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && ammoniaNTestMethod.invalid)}"
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="ammoniaNDetailsListSave(ammoniaN)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">Phosphate-P (μg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" name="phosphatePsurfaceValue" [(ngModel)]="phosphateP.surfaceValue"  
                (focus)="toastClear()" (keypress)="toastClear()"  #phosphatePsurfaceValue="ngModel"  required autocomplete="off" OnlyNumber="true" DecimalPlaces="2" 
                [ngClass]="{'is-invalid': (f.submitted && phosphatePsurfaceValue.invalid),
                            'white':  phosphateP.surfaceValue == '',
                            'orange': (phosphateP.surfaceValue > fieldColorValidatior.Phosphate_P.prarmaterMax &&
                            phosphateP.surfaceValue <= fieldColorValidatior.Phosphate_P.prarmaterMaxValueDeviation) || 
                            (phosphateP.surfaceValue < fieldColorValidatior.Phosphate_P.prarmaterMin &&
                            phosphateP.surfaceValue >= fieldColorValidatior.Phosphate_P.prarmaterMinValueDeviation),
                  'red':    (phosphateP.surfaceValue > fieldColorValidatior.Phosphate_P.prarmaterMaxValueDeviation) ||
                            (phosphateP.surfaceValue < fieldColorValidatior.Phosphate_P.prarmaterMinValueDeviation && 
                            phosphateP.surfaceValue >=0),                                               
                  'green':  phosphateP.surfaceValue <= fieldColorValidatior.Phosphate_P.prarmaterMax && 
                            phosphateP.surfaceValue >= fieldColorValidatior.Phosphate_P.prarmaterMin}"
                (input)="phosphatePDetailsSave(phosphateP,phosphateP.surfaceValue,
                fieldColorValidatior.Phosphate_P.prarmaterMaxValueDeviation,fieldColorValidatior.Phosphate_P.prarmaterMean,
                fieldColorValidatior.Phosphate_P.prarmaterThreshold,fieldColorValidatior.Phosphate_P.prarmaterStandDeviation)" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              μg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.Phosphate_P"
              [threshold]="fieldColorValidatior.Phosphate_P.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="phosphateP.mql" name="phosphatePMql"
                #phosphatePMql="ngModel" [ngClass]="{'is-invalid': (f.submitted && phosphatePMql.invalid)}" 
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="phosphatePDetailsListSave(phosphateP)"
                required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="phosphateP.testMethod" name="phosphatePTestMethod"
                #phosphatePTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && phosphatePTestMethod.invalid)}"
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="phosphatePDetailsListSave(phosphateP)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">BOD (mg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" pattern="^[0-9]{1,5}$" class="form-control tbl tbl-per-30" name="bodSurfaceValue"
                [(ngModel)]="bod.surfaceValue" (focus)="toastClear()" (keypress)="toastClear()"  (keypress)="toastClear()"  
                #bodSurfaceValue="ngModel" required autocomplete="off" OnlyNumber="true" DecimalPlaces="2" 
                [ngClass]="{'is-invalid': (f.submitted && bodSurfaceValue.invalid),
                            'white':  bod.surfaceValue == '',
                            'orange': (bod.surfaceValue > fieldColorValidatior.BOD.prarmaterMax &&
                                      bod.surfaceValue <= fieldColorValidatior.BOD.prarmaterMaxValueDeviation) || 
                                      (bod.surfaceValue < fieldColorValidatior.BOD.prarmaterMin &&
                                      bod.surfaceValue >= fieldColorValidatior.BOD.prarmaterMinValueDeviation),
                            'red':    (bod.surfaceValue > fieldColorValidatior.BOD.prarmaterMaxValueDeviation) ||
                                      (bod.surfaceValue < fieldColorValidatior.BOD.prarmaterMinValueDeviation && 
                                      bod.surfaceValue >=0),                                               
                            'green':  bod.surfaceValue <= fieldColorValidatior.BOD.prarmaterMax && 
                                      bod.surfaceValue >= fieldColorValidatior.BOD.prarmaterMin}"
                          (input)="bodDetailsSave(bod,bod.surfaceValue,fieldColorValidatior.BOD.prarmaterMaxValueDeviation,
                          fieldColorValidatior.BOD.prarmaterMean,fieldColorValidatior.BOD.prarmaterThreshold,
                          fieldColorValidatior.BOD.prarmaterStandDeviation)" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">
              mg/L
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.BOD" [threshold]="fieldColorValidatior.BOD.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="bod.mql" name="bodMql" #bodMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && bodMql.invalid)}" 
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="bodDetailsListSave(bod)" required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="bod.testMethod" name="bodTestMethod"
                #bodTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && bodTestMethod.invalid)}" 
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="bodDetailsListSave(bod)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-15 text-left">TSS (mg/L)</div>
            <div class="clearfix tbl tbl-per-10 text-center generalChemistryValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" name="tssSurfaceValue" [(ngModel)]="tss.surfaceValue"
                (focus)="toastClear()" (keypress)="toastClear()"  #tssSurfaceValue="ngModel" required autocomplete="off" OnlyNumber="true" DecimalPlaces="2" 
                [ngClass]="{'is-invalid': (f.submitted && tssSurfaceValue.invalid),
                            'white':  tss.surfaceValue == '',
                            'orange': (tss.surfaceValue > fieldColorValidatior.TSS.prarmaterMax &&
                                      tss.surfaceValue <= fieldColorValidatior.TSS.prarmaterMaxValueDeviation) || 
                                      (tss.surfaceValue < fieldColorValidatior.TSS.prarmaterMin &&
                                      tss.surfaceValue >= fieldColorValidatior.TSS.prarmaterMinValueDeviation),
                            'red':    (tss.surfaceValue > fieldColorValidatior.TSS.prarmaterMaxValueDeviation) ||
                                      (tss.surfaceValue < fieldColorValidatior.TSS.prarmaterMinValueDeviation && 
                                      tss.surfaceValue >=0),                                               
                            'green':  tss.surfaceValue <= fieldColorValidatior.TSS.prarmaterMax && 
                                      tss.surfaceValue >= fieldColorValidatior.TSS.prarmaterMin}"
                (focus)="toastClear()" (keypress)="toastClear()"  (input)="tssDetailsSave(tss,tss.surfaceValue,fieldColorValidatior.TSS.prarmaterMaxValueDeviation,
                fieldColorValidatior.TSS.prarmaterMean,
                fieldColorValidatior.TSS.prarmaterThreshold,fieldColorValidatior.TSS.prarmaterStandDeviation)" />
            </div>
            <div class="clearfix tbl tbl-per-10 text-center">mg/L</div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph [graphData]="graphData.TSS" [threshold]="fieldColorValidatior.TSS.prarmaterThreshold"></div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="oc-text-MQL" class="form-control" [(ngModel)]="tss.mql" name="tssMql" #tssMql="ngModel"
                [ngClass]="{'is-invalid': (f.submitted && tssMql.invalid)}" 
                (focus)="toastClear()" (keypress)="toastClear()"  (click)="tssDetailsListSave(tss)" required>
                <option value="" disabled selected hidden>Select MQL</option>
                <option *ngFor="let mwqType of mwqDetails" value="{{mwqType.MQL_Id}}">{{mwqType.MQL_Name}}</option>
              </select>
            </div>
            <div class="clearfix tbl tbl-per-25 text-center">
              <select id="gc-text-tm" class="form-control" [(ngModel)]="tss.testMethod" name="tssTestMethod"
                #tssTestMethod="ngModel" [ngClass]="{'is-invalid': (f.submitted && tssTestMethod.invalid)}" 
                (click)="tssDetailsListSave(tss)" required>
                <option value="" disabled selected hidden>Select Test Method</option>
                <option *ngFor="let testMethDet of testMethodDetails" value="{{testMethDet.TestMethod_ID}}">{{testMethDet.testMethodName}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group mar t-20 col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <div>
                <ul class="legend">
                    <li><span class="CorrectValue"></span>Within range </li>
                    <li><span class="StandardDeviation"></span>20% deviation</li>
                    <li><span class="MoreThresholdValue"></span> Out of range </li>
                </ul>
              </div>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="genChemTabNavPrev(module)">Previous</button>
              <button class="btn btn-primary gap gap-5 gap-lr">Save</button>
              <button class="btn btn-primary gap gap-5 gap-lr" [disabled]="isDisabled" (click)="genChemTabNavNext(module)">Next</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>