<div class="pageWrapper headerSection">
  <div class="headerSection col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="headerTitle col-xs-8 col-sm-8 col-md-8 col-lg-8">
        Manage Sites
      </div>
      <div class="settings col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        <a href="javascript:void(0)" (click)="mondalOpen = !mondalOpen"><i class="fa fa-gear"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card border-success">
      <div class="silk-card-title d-flex justify-content-between">
        <!-- <h4>Manage Sites</h4> -->
        <a href="javascript:void(0)" class="addRecordBtn" (click)="addTableRow()"><i class="glyphicon glyphicon-plus"></i>
          Add</a>
      </div>
      <div class="widget-body">
        <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="10" [columnMode]="'standard'"
          [footerHeight]="50" [rowHeight]="30" [rows]="sitesListDetails">
          <ngx-datatable-column name="Site Id" [width]="90"></ngx-datatable-column>
          <ngx-datatable-column name="Site Code" [width]="120"></ngx-datatable-column>
          <ngx-datatable-column name="Site Name" [width]="250"></ngx-datatable-column>
          <ngx-datatable-column name="Category Name" [width]="170"></ngx-datatable-column>
          <ngx-datatable-column name="Lattitude" [width]="130"></ngx-datatable-column>
          <ngx-datatable-column name="Longitude" [width]="130"></ngx-datatable-column>
          <ngx-datatable-column name="Status" [width]="100">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-status'] = true" *ngIf="!editing[rowIndex + '-status']">
                {{value}}
              </span>
              <select *ngIf="editing[rowIndex + '-status']" (blur)="editing[rowIndex + '-status'] = false" (change)="updateValue($event, 'status', rowIndex, row)"
                [value]="value">
                <option value="Active">Active</option>
                <option value="InActive">InActive</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<div class="modalContainer" [ngClass]="modalShowWindow ? 'openModel' : 'closeModel'" [ngStyle]="{'z-index': '9999'}">
  <div class="shadowSection" (click)="closeModal()"></div>
  <div class="modalSection">
    <div class="modalHeader">
      <div class="title"> </div>
      <div class="closeBtn">
        <a href="javascript:void(0)" (click)="closeModal()">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
      </div>
    </div>
    <!-- <form class="form" name="form" (ngSubmit)="f.form.valid && addConfigureParam(configureParam)" #f="ngForm" novalidate> -->
    <div class="modalBody">
      <div class="form-group row">
        <label for="example-text-input" class="col-3 col-form-label">Site ID</label>
        <div class="col-8">
          <input class="form-control" type="text" placeholder="Site ID" [(ngModel)]="siteInfo.siteId" id="example-text-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-3 col-form-label">Site Code</label>
        <div class="col-8">
          <input class="form-control" type="text" placeholder="Site Name" [(ngModel)]="siteInfo.siteCode" id="example-text-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-3 col-form-label">Category Name</label>
        <div class="col-8">
          <input class="form-control" type="text" placeholder="Category Name" [(ngModel)]="siteInfo.categoryName" id="example-text-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-3 col-form-label">Description</label>
        <div class="col-8">
          <input class="form-control" type="text" placeholder="Description" [(ngModel)]="siteInfo.description" id="example-text-input">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-3 col-form-label">Status</label>
        <div class="col-8">
          <select class="form-control" [(ngModel)]="siteInfo.status">
            <option value="" disabled selected hidden>Select Status</option>
            <option value="Active">Active</option>
            <option value="InActive">InActive</option>
          </select>
        </div>
      </div>
    </div>
    <!-- </form> -->
    <div class="modalFooter">
      <div class="form-group mar t-20 col-xs-12 col-sm-12">
        <div class="row text-right">
          <div class="col-xs-12 col-sm-12">
            <button class="btn btn-primary gap gap-5 gap-lr" (click)="createSite(siteInfo)">Add</button>
            <!-- <button class="btn btn-primary gap gap-5 gap-lr">Add</button> -->
            <button class="btn btn-primary gap gap-5 gap-lr" (click)="closeModal()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>