<div class="pageWrapper headerSection">
  <div class="headerSection col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="headerTitle col-xs-8 col-sm-8 col-md-8 col-lg-8">
        Download MWQ Indices Data
      </div>
      <div class="settings col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        <a href="javascript:void(0)" (click)="mondalOpen = !mondalOpen"><i class="fa fa-gear"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
    <div class="silk-card border-success">
      <div class="silk-card-title d-flex justify-content-between">
      </div>
      <div class="silk-card">
        <div class="silk-card-content">
          <div class="form-group row">
            <!-- <div class="col-3">
                      <input class="form-control" type="text" placeholder="Search" (keyup)='updateFilter($event)'>
                    </div> -->
            <label for="example-date-input" class="col-form-label">From Date</label>
            <div class="col-3">
              <input class="form-control" type="date" id="example-date-input" [(ngModel)]="fromDateFilter" (change)="dateRangeValidate(fromDateFilter, 'start')"
                [min]="startMinDate" [max]="startMaxDate" onkeydown="return false" mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)"
                (mouseWheelDown)="mouseWheelDownFunc(event)">
            </div>
            <label for="example-date-input" class="col-form-label">To Date</label>
            <div class="col-3">
              <input class="form-control" type="date" id="example-date-input" [(ngModel)]="toDateFilter" (change)="dateRangeValidate(toDateFilter, 'end')"
                [min]="endMinDate" [max]="endMaxDate" onkeydown="return false" mouseWheel (mouseWheelUp)="mouseWheelUpFunc(event)"
                (mouseWheelDown)="mouseWheelDownFunc(event)">
            </div>
            <button type="submit" class="send-btn btn btn-primary" (click)="downloadMwqIndicesData(fromDateFilter,toDateFilter)">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card border-success">
      <div class="widget-body" *ngIf="downloadMwqIndicesResultStatus === 'Success' && downloadMwqIndicesDetails.length ===0"
        style="height: 300px;">
        <p>{{downloadMwqIndicesResultStatusMessage}}</p>
      </div>
      <div class="widget-body" *ngIf="downloadMwqIndicesResultStatus === 'Failed'" style="height: 300px;">
        <p>{{downloadMwqIndicesResultStatusMessage}}</p>
      </div>
      <div class="widget-body" *ngIf="downloadMwqIndicesDetails.length > 0">
        <!-- <ngx-datatable class="material" [rows]="downloadMwqIndicesDetails" [scrollbarH]="true" [columnMode]="'standard'"
          [headerHeight]="50" [footerHeight]="50" [rowHeight]="25" [limit]="10">
          <ngx-datatable-column name="Siteid" [width]="200">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="text-center">{{value}}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Microbial Index" [width]="200">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="text-center">{{value}}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Eutrophication Index" [width]="200">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="text-center">{{value}}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Sediment Index" [width]="200">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="text-center">{{value}}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Month" [width]="200">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="text-center">{{value}}</div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable> -->

        <ngx-datatable class="material" [rows]="downloadMwqIndicesDetails" [columnMode]="'force'" [headerHeight]="50"
          [footerHeight]="50" [rowHeight]="36" [limit]="10" [columns]="columns" [selected]="selected" [selectionType]="'checkbox'"
          [selectAllRowsOnPage]="false" (select)='onSelect($event)'>
        </ngx-datatable>

        <div class="form-group mar t-20 col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="exportAsXLSX()">Export to Excel</button>
              <!-- <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateSave()">Cancel</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>