<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>IN-SITU WATER QUALITY PARAMETERS</b>
            </div>
          </div>
        </div>
      </div>
      <!--<mat-divider></mat-divider>-->
      <form class="form">
        <div class="col-sm-12 section col-xs-12 formTableSection">
          <div class="row formHeading">
            <div class="clearfix tbl tbl-per-10 text-left"></div>
            <div class="clearfix tbl tbl-per-20 text-left"><b>Surface</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Historial Graph</b></div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Bottom</b></div>
            <div class="clearfix tbl tbl-per-25 text-center insituValuesGrid">
              <input type="text" class="form-control inputOutline" readonly disabled="disabled" value="5M" />
              <input type="text" class="form-control inputOutline" readonly disabled="disabled" value="10M" />
              <input type="text" class="form-control inputOutline" readonly disabled="disabled" value="15M" />
              <input type="text" class="form-control inputOutline" readonly disabled="disabled" value="20M" />
              <input type="text" class="form-control inputOutline" readonly disabled="disabled" value="25M" />
            </div>
            <div class="clearfix tbl tbl-per-15 text-center"><b>Historial Graph</b></div>
          </div>

          <div class="row formRow">
            <div class="clearfix tbl tbl-per-10 text-left">Temperature</div>
            <div class="clearfix tbl tbl-per-20 text-left insituValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': temperature.surfaceValue <= 35, 'orange': temperature.surfaceValue <= 50 && temperature.surfaceValue > 35, 'green': temperature.surfaceValue > 50}"
                name="temperatureSurfaceVal" [(ngModel)]="temperature.surfaceValue" />
              <span class="pad l-15"><sup>°</sup>C (at Surface)</span>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]">
            </div>
            <!-- <div class="clearfix tbl tbl-per-15 text-left"><sup>o</sup>C (at Deepwater)</div> -->
            <div class="clearfix tbl tbl-per-15 text-center insituValuesBottom">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': temperature.bottomValue <= 35, 'orange': temperature.bottomValue <= 50 && temperature.bottomValue > 35, 'green': temperature.bottomValue > 50}"
                name="temperatureBottomVal" [(ngModel)]="temperature.bottomValue" />
            </div>
            <div class="clearfix tbl tbl-per-25 text-center insituValuesGrid">
              <input type="text" [ngClass]="{'red': temperature.bottom5m <= 35, 'orange': temperature.bottom5m <= 50 && temperature.bottom5m > 35, 'green': temperature.bottom5m > 50}"
                name="tempbottom5m" [(ngModel)]="temperature.bottom5m" class="form-control" />
              <input type="text" [ngClass]="{'red': temperature.bottom10m <= 35, 'orange': temperature.bottom10m <= 50 && temperature.bottom10m > 35, 'green': temperature.bottom10m > 50}"
                name="tempbottom10m" [(ngModel)]="temperature.bottom10m" class="form-control" />
              <input type="text" [ngClass]="{'red': temperature.bottom15m <= 35, 'orange': temperature.bottom15m <= 50 && temperature.bottom15m > 35, 'green': temperature.bottom15m > 50}"
                name="tempbottom15m" [(ngModel)]="temperature.bottom15m" class="form-control" />
              <input type="text" [ngClass]="{'red': temperature.bottom20m <= 35, 'orange': temperature.bottom20m <= 50 && temperature.bottom20m > 35, 'green': temperature.bottom20m > 50}"
                name="tempbottom20m" [(ngModel)]="temperature.bottom20m" class="form-control" />
              <input type="text" [ngClass]="{'red': temperature.bottom25m <= 35, 'orange': temperature.bottom25m <= 50 && temperature.bottom25m > 35, 'green': temperature.bottom25m > 50}"
                name="tempbottom25m" [(ngModel)]="temperature.bottom25m" class="form-control" />
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-10 text-left">Conductivity</div>
            <div class="clearfix tbl tbl-per-20 text-left insituValuesSurface">
              <!-- <span><input type="text" class="form-control tbl tbl-per-30" placeholder="45" /></span> -->
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': conductivity.surfaceValue <= 35, 'orange': conductivity.surfaceValue <= 50 && conductivity.surfaceValue > 35, 'green': conductivity.surfaceValue > 50}"
                name="conductivitySurfaceVal" [(ngModel)]="conductivity.surfaceValue" />
              <span class="pad l-15">mS/gm (at Surface)</span>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <!-- <div class="clearfix tbl tbl-per-15 text-left">mS/gm (at Deepwater)</div> -->
            <div class="clearfix tbl tbl-per-15 text-center insituValuesBottom">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': conductivity.bottomValue <= 35, 'orange': conductivity.bottomValue <= 50 && conductivity.bottomValue > 35, 'green': conductivity.bottomValue > 50}"
                name="conductivityBottomVal" [(ngModel)]="conductivity.bottomValue" />
            </div>
            <div class="clearfix tbl tbl-per-25 text-center insituValuesGrid">
              <input type="text" name="conductivity.bottom5m" [(ngModel)]="conductivity.bottom5m" [ngClass]="{'red': conductivity.bottom5m <= 35, 'orange': conductivity.bottom5m <= 50 && conductivity.bottom5m > 35, 'green': conductivity.bottom5m > 50}"
                class="form-control" />
              <input type="text" name="conductivity.bottom10m" [(ngModel)]="conductivity.bottom10m" [ngClass]="{'red': conductivity.bottom10m <= 35, 'orange': conductivity.bottom10m <= 50 && conductivity.bottom10m > 35, 'green': conductivity.bottom10m > 50}"
                class="form-control" />
              <input type="text" name="conductivity.bottom15m" [(ngModel)]="conductivity.bottom15m" [ngClass]="{'red': conductivity.bottom15m <= 35, 'orange': conductivity.bottom15m <= 50 && conductivity.bottom15m > 35, 'green': conductivity.bottom15m > 50}"
                class="form-control" />
              <input type="text" name="conductivity.bottom20m" [(ngModel)]="conductivity.bottom20m" [ngClass]="{'red': conductivity.bottom20m <= 35, 'orange': conductivity.bottom20m <= 50 && conductivity.bottom20m > 35, 'green': conductivity.bottom20m > 50}"
                class="form-control" />
              <input type="text" name="conductivity.bottom25m" [(ngModel)]="conductivity.bottom25m" [ngClass]="{'red': conductivity.bottom25m <= 35, 'orange': conductivity.bottom25m <= 50 && conductivity.bottom25m > 35, 'green': conductivity.bottom25m > 50}"
                class="form-control" />
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-10 text-left">Salinity</div>
            <div class="clearfix tbl tbl-per-20 text-left insituValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': salinity.surfaceValue <= 35, 'orange': salinity.surfaceValue <= 50 && salinity.surfaceValue > 35, 'green': salinity.surfaceValue > 50}"
                name="salinitySurfaceVal" [(ngModel)]="salinity.surfaceValue" />
              <span class="pad l-15">ppt (at Surface)</span>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <!-- <div class="clearfix tbl tbl-per-15 text-left">ppt (at Deepwater)</div> -->
            <div class="clearfix tbl tbl-per-15 text-center insituValuesBottom">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': salinity.bottomValue <= 35, 'orange': salinity.bottomValue <= 50 && salinity.bottomValue > 35, 'green': salinity.bottomValue > 50}"
                name="salinityBottomValue" [(ngModel)]="salinity.bottomValue" />
            </div>
            <div class="clearfix tbl tbl-per-25 text-center insituValuesGrid">
              <input type="text" name="salinity.bottom5m" [(ngModel)]="salinity.bottom5m" [ngClass]="{'red': salinity.bottom5m <= 35, 'orange': salinity.bottom5m <= 50 && salinity.bottom5m > 35, 'green': salinity.bottom5m > 50}"
                class="form-control" />
              <input type="text" name="salinity.bottom10m" [(ngModel)]="salinity.bottom10m" [ngClass]="{'red': salinity.bottom10m <= 35, 'orange': salinity.bottom10m <= 50 && salinity.bottom10m > 35, 'green': salinity.bottom10m > 50}"
                class="form-control" />
              <input type="text" name="salinity.bottom15m" [(ngModel)]="salinity.bottom15m" [ngClass]="{'red': salinity.bottom15m <= 35, 'orange': salinity.bottom15m <= 50 && salinity.bottom15m > 35, 'green': salinity.bottom15m > 50}"
                class="form-control" />
              <input type="text" name="salinity.bottom20m" [(ngModel)]="salinity.bottom20m" [ngClass]="{'red': salinity.bottom20m <= 35, 'orange': salinity.bottom20m <= 50 && salinity.bottom20m > 35, 'green': salinity.bottom20m > 50}"
                class="form-control" />
              <input type="text" name="salinity.bottom25m" [(ngModel)]="salinity.bottom25m" [ngClass]="{'red': salinity.bottom25m <= 35, 'orange': salinity.bottom25m <= 50 && salinity.bottom25m > 35, 'green': salinity.bottom25m > 50}"
                class="form-control" />
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-10 text-left">pH*</div>
            <div class="clearfix tbl tbl-per-20 text-left insituValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': pH.surfaceValue <= 35, 'orange': pH.surfaceValue <= 50 && pH.surfaceValue > 35, 'green': pH.surfaceValue > 50}"
                name="pH.surfaceValue" [(ngModel)]="pH.surfaceValue" />
              <span class="pad l-15">mg/L (at Surface)</span>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[75, 68, 20, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-15 text-center insituValuesBottom">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': pH.bottomValue <= 35, 'orange': pH.bottomValue <= 50 && pH.bottomValue > 35, 'green': pH.bottomValue > 50}"
                name="pH.bottomValue" [(ngModel)]="pH.bottomValue" />
            </div>
            <!-- <div class="clearfix tbl tbl-per-15 text-left">mg/L (at Deepwater)</div> -->
            <div class="clearfix tbl tbl-per-25 text-center insituValuesGrid">
              <input type="text" name="pH.bottom5m" [(ngModel)]="pH.bottom5m" [ngClass]="{'red': pH.bottom5m <= 35, 'orange': pH.bottom5m <= 50 && pH.bottom5m > 35, 'green': pH.bottom5m > 50}"
                class="form-control" />
              <input type="text" name="pH.bottom10m" [(ngModel)]="pH.bottom10m" [ngClass]="{'red': pH.bottom10m <= 35, 'orange': pH.bottom10m <= 50 && pH.bottom10m > 35, 'green': pH.bottom10m > 50}"
                class="form-control" />
              <input type="text" name="pH.bottom15m" [(ngModel)]="pH.bottom15m" [ngClass]="{'red': pH.bottom15m <= 35, 'orange': pH.bottom15m <= 50 && pH.bottom15m > 35, 'green': pH.bottom15m > 50}"
                class="form-control" />
              <input type="text" name="pH.bottom20m" [(ngModel)]="pH.bottom20m" [ngClass]="{'red': pH.bottom20m <= 35, 'orange': pH.bottom20m <= 50 && pH.bottom20m > 35, 'green': pH.bottom20m > 50}"
                class="form-control" />
              <input type="text" name="pH.bottom25m" [(ngModel)]="pH.bottom25m" [ngClass]="{'red': pH.bottom25m <= 35, 'orange': pH.bottom25m <= 50 && pH.bottom25m > 35, 'green': pH.bottom25m > 50}"
                class="form-control" />
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-10 text-left">Dissolved O_*</div>
            <div class="clearfix tbl tbl-per-20 text-left insituValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': dissolvedO.surfaceValue <= 35, 'orange': dissolvedO.surfaceValue <= 50 && dissolvedO.surfaceValue > 35, 'green': dissolvedO.surfaceValue > 50}"
                name="dissolvedO.surfaceValue" [(ngModel)]="dissolvedO.surfaceValue" />
              <span class="pad l-15">mg/L (at Surface)</span>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <!-- <div class="clearfix tbl tbl-per-15 text-left">mg/L (at Deepwater)</div> -->
            <div class="clearfix tbl tbl-per-15 text-center insituValuesBottom">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': dissolvedO.bottomValue <= 35, 'orange': dissolvedO.bottomValue <= 50 && dissolvedO.bottomValue > 35, 'green': dissolvedO.bottomValue > 50}"
                name="dissolvedO.bottomValue" [(ngModel)]="dissolvedO.bottomValue" />
            </div>
            <div class="clearfix tbl tbl-per-25 text-center insituValuesGrid">
              <input type="text" name="dissolvedO.bottom5m" [(ngModel)]="dissolvedO.bottom5m" [ngClass]="{'red': dissolvedO.bottom5m <= 35, 'orange': dissolvedO.bottom5m <= 50 && dissolvedO.bottom5m > 35, 'green': dissolvedO.bottom5m > 50}"
                class="form-control" />
              <input type="text" name="dissolvedO.bottom10m" [(ngModel)]="dissolvedO.bottom10m" [ngClass]="{'red': dissolvedO.bottom10m <= 35, 'orange': dissolvedO.bottom10m <= 50 && dissolvedO.bottom10m > 35, 'green': dissolvedO.bottom10m > 50}"
                class="form-control" />
              <input type="text" name="dissolvedO.bottom15m" [(ngModel)]="dissolvedO.bottom15m" [ngClass]="{'red': dissolvedO.bottom15m <= 35, 'orange': dissolvedO.bottom15m <= 50 && dissolvedO.bottom15m > 35, 'green': dissolvedO.bottom15m > 50}"
                class="form-control" />
              <input type="text" name="dissolvedO.bottom20m" [(ngModel)]="dissolvedO.bottom20m" [ngClass]="{'red': dissolvedO.bottom20m <= 35, 'orange': dissolvedO.bottom20m <= 50 && dissolvedO.bottom20m > 35, 'green': dissolvedO.bottom20m > 50}"
                class="form-control" />
              <input type="text" name="dissolvedO.bottom25m" [(ngModel)]="dissolvedO.bottom25m" [ngClass]="{'red': dissolvedO.bottom25m <= 35, 'orange': dissolvedO.bottom25m <= 50 && dissolvedO.bottom25m > 35, 'green': dissolvedO.bottom25m > 50}"
                class="form-control" />
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-10 text-left">Chlorophyll_a*</div>
            <div class="clearfix tbl tbl-per-20 text-left insituValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': Chlorophyll_a.surfaceValue <= 35, 'orange': Chlorophyll_a.surfaceValue <= 50 && Chlorophyll_a.surfaceValue > 35, 'green': Chlorophyll_a.surfaceValue > 50}"
                name="Chlorophyll_a.surfaceValue" [(ngModel)]="Chlorophyll_a.surfaceValue" />
              <span class="pad l-15">ug/L (at Surface)</span>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <!-- <div class="clearfix tbl tbl-per-15 text-left">ug/L (at Deepwater)</div> -->
            <div class="clearfix tbl tbl-per-15 text-center insituValuesBottom">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': Chlorophyll_a.bottomValue <= 35, 'orange': Chlorophyll_a.bottomValue <= 50 && Chlorophyll_a.bottomValue > 35, 'green': Chlorophyll_a.bottomValue > 50}"
                name="Chlorophyll_a.bottomValue" [(ngModel)]="Chlorophyll_a.bottomValue" />
            </div>
            <div class="clearfix tbl tbl-per-25 text-center insituValuesGrid">
              <input type="text" name="Chlorophyll_a.bottom5m" [(ngModel)]="Chlorophyll_a.bottom5m" [ngClass]="{'red': Chlorophyll_a.bottom5m <= 35, 'orange': Chlorophyll_a.bottom5m <= 50 && Chlorophyll_a.bottom5m > 35, 'green': Chlorophyll_a.bottom5m > 50}"
                class="form-control" />
              <input type="text" name="Chlorophyll_a.bottom10m" [(ngModel)]="Chlorophyll_a.bottom10m" [ngClass]="{'red': Chlorophyll_a.bottom10m <= 35, 'orange': Chlorophyll_a.bottom10m <= 50 && Chlorophyll_a.bottom10m > 35, 'green': Chlorophyll_a.bottom10m > 50}"
                class="form-control" />
              <input type="text" name="Chlorophyll_a.bottom15m" [(ngModel)]="Chlorophyll_a.bottom15m" [ngClass]="{'red': Chlorophyll_a.bottom15m <= 35, 'orange': Chlorophyll_a.bottom15m <= 50 && Chlorophyll_a.bottom15m > 35, 'green': Chlorophyll_a.bottom15m > 50}"
                class="form-control" />
              <input type="text" name="Chlorophyll_a.bottom20m" [(ngModel)]="Chlorophyll_a.bottom20m" [ngClass]="{'red': Chlorophyll_a.bottom20m <= 35, 'orange': Chlorophyll_a.bottom20m <= 50 && Chlorophyll_a.bottom20m > 35, 'green': Chlorophyll_a.bottom20m > 50}"
                class="form-control" />
              <input type="text" name="Chlorophyll_a.bottom25m" [(ngModel)]="Chlorophyll_a.bottom25m" [ngClass]="{'red': Chlorophyll_a.bottom25m <= 35, 'orange': Chlorophyll_a.bottom25m <= 50 && Chlorophyll_a.bottom25m > 35, 'green': Chlorophyll_a.bottom25m > 50}"
                class="form-control" />
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
          </div>
          <div class="row formRow">
            <div class="clearfix tbl tbl-per-10 text-left">Sechi Disc</div>
            <div class="clearfix tbl tbl-per-20 text-left insituValuesSurface">
              <input type="text" class="form-control tbl tbl-per-30" [ngClass]="{'red': sechiDisc.surfaceValue <= 35, 'orange': sechiDisc.surfaceValue <= 50 && sechiDisc.surfaceValue > 35, 'green': sechiDisc.surfaceValue > 50}"
                name="sechiDisc.surfaceValue" [(ngModel)]="sechiDisc.surfaceValue" />
              <span class="pad l-15">Feet (at Surface)</span>
            </div>
            <div class="clearfix tbl tbl-per-15 text-center" msHistoricalGraph graphData="[45, 48, 35, 40, 55, 45]"></div>
            <div class="clearfix tbl tbl-per-15 text-left"></div>
            <div class="clearfix tbl tbl-per-25 text-center insituValuesGrid">

            </div>
            <div class="clearfix tbl tbl-per-15 text-center"></div>
          </div>
        </div>
        <div class="form-group mar t-20 col-xs-12 col-sm-12">
          <div class="row text-right">
            <div class="col-xs-12 col-sm-12">
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDatePrev()">Previous</button>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="insituDetailsSave(temperature,conductivity,salinity,pH,dissolvedO,Chlorophyll_a,sechiDisc)">Save</button>
              <button class="btn btn-primary gap gap-5 gap-lr" (click)="siteDateNext()">Next</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>