<div class="row silk-form-wizard">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card">
      <div class="silk-card-title">
        <div class="headerSection">
          <div class="row">
            <div class="headerTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <b>IN-SITU WATER QUALITY PARAMETERS </b>
            </div>
          </div>
        </div>
      </div>
      <!--<mat-divider></mat-divider>-->

      <div class="row">

        <div class="col-xl-1 text-xs-center">
            
        </div>
        <div class="col-xl-1 text-xs-right">
          <b>Surface</b>
        </div>

        <div class="col-xl-2 text-xs-center">
          <b>Historical Graph</b>
        </div>
        <div class="col-xl-1 text-xs-center">
          <b>Deepwater</b>
        </div>
        <div class="col-xl-1 text-xs-center">
          <b>5M</b>
        </div>
        <div class="col-xl-1 text-xs-center">
          <b>10M</b>
        </div>
        <div class="col-xl-1 text-xs-center">
          <b>15M</b>
        </div>
        <div class="col-xl-1 text-xs-center">
          <b>20M</b>
        </div>
        <div class="col-xl-1 text-xs-center">
          <b>25M</b>
        </div>
        <div class="col-xl-2 text-xs-center">
          <b>Historical Graph</b>
        </div>
      </div>

      <!--New Row-->
      <div class="row">
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              Temperature *
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              31
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              °C 
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              GRAPH
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              °C 
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              39
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              39
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              39
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              39
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              39
            </div>
          </div>
        </div>
        <div class="col-xl-2 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              GRAPH
            </div>
          </div>
        </div>
      </div>

      <!--New Row-->
      <div class="row">
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              Conductivity *
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              41
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              mS/cm
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              GRAPH
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              mS/cm 
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              49
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              49
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              49
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              49
            </div>
          </div>
        </div>
        <div class="col-xl-1 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              49
            </div>
          </div>
        </div>
        <div class="col-xl-2 text-xs-center">
          <div class="card mb-3">
            <div class="card-body">
              GRAPH
            </div>
          </div>
        </div>
      </div>

      <!--New Row-->
      <div class="row">
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  Salinity*
                </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                101
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  ppt
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                GRAPH
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  ppt   
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                GRAPH
              </div>
            </div>
          </div>
        </div>

        <!--New Row-->
      <div class="row">
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  pH *
                </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  51
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  mg/L 
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                GRAPH
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  mg/L    
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                59
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                59
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                59
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                59
              </div>
            </div>
          </div>
          <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                GRAPH
              </div>
            </div>
          </div>
        </div>

        <!--New Row-->
      <div class="row">
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  Dissolved O..*
                </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                101
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  mg/L 
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                GRAPH
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  mg/L    
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                69
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                69
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                69
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                69
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                69
              </div>
            </div>
          </div>
          <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                GRAPH
              </div>
            </div>
          </div>
        </div>

        <!--New Row-->
      <div class="row">
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  Chlorophyll_a*
                </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                31
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  ug/L 
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                GRAPH
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  ug/L    
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                39
              </div>
            </div>
          </div>
          <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                GRAPH
              </div>
            </div>
          </div>
        </div>

        <!--New Row-->
      <div class="row">
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  Sechi Disc...
                </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                70
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                  Feet 
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                GRAPH
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                     
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
              <div class="card-body">
                
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>