.insituValuesGrid{
    >input{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 15%;
        height: 30px;
        font-size: 12px;
        padding: 0px;
        text-align: center;
        &.inputOutline {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            font-weight: bold;
            font-size: inherit;
        }

        &.green {
            background-color: #2abd2a;
            color: #fff;
        }
        &.orange {
            background-color: #f60;
            color: #000;
        }
        &.red {
            background-color: #c00;
            color: #fff;
        }
        &.white {
            background-color: #fff;
            color: #000;
        }
    }
}


.insituValuesSurface{
    >input{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 25%;
        height: 30px;
        font-size: 12px;
        padding: 0px;
        text-align: center;
        &.inputOutline {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            font-weight: bold;
            font-size: inherit;
        }

        &.green {
            background-color: #2abd2a;
            color: #fff;
        }
        &.orange {
            background-color: #f60;
            color: #000;
        }
        &.red {
            background-color: #c00;
            color: #fff;
        }
        &.white {
            background-color: #fff;
            color: #000;
        }
    }
}

.insituValuesBottom{
    >input{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 30%;
        height: 30px;
        font-size: 12px;
        padding: 0px;
        text-align: center;
        &.inputOutline {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
            font-weight: bold;
            font-size: inherit;
        }

        &.green {
            background-color: #2abd2a;
            color: #fff;
        }
        &.orange {
            background-color: #f60;
            color: #000;
        }
        &.red {
            background-color: #c00;
            color: #fff;
        }
        &.white {
            background-color: #fff;
            color: #000;
        }
    }
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: #C00000;
}

/* input:invalid {
    background-color: #ffdddd;
  }
  
  form:invalid {
    border: 5px solid #ffdddd;
  }
  
  input:valid {
    background-color: #ddffdd;
  }
  
  form:valid {
    border: 5px solid #ddffdd;
  }
  input:required:invalid {
    border-color: #C00000;
  } */