<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
    <div class="silk-card border-success">
      <div class="silk-card-title d-flex justify-content-between">
        <h4>Alerts Details</h4>
      </div>
      <div class="silk-card">
        <div class="silk-card-content">
          <div class="form-group row">
            <div class="col-3">
              <input class="form-control" type="text" placeholder="Search">
            </div>
            <label for="example-date-input" class="col-form-label">From Date</label>
            <div class="col-3">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
            <label for="example-date-input" class="col-form-label">To Date</label>
            <div class="col-3">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
            <button type="submit" class="send-btn btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-6 col-full" widget>
    <div class="silk-card border-success pb-0">
      <div class="silk-card-title d-flex justify-content-between">
      </div>
      <div class="silk-card-content widget-body">
        <div class="table-responsive">
          <table class="table table-middle table-striped">
            <thead class="thead-inverse">
              <th>Alert type</th>
              <th>Description</th>
              <th>Reported Date & Time</th>
            </thead>
            <tbody class="ng-tns-c6-0">
              <tr class="ng-tns-c6-0">
                <td class="ng-tns-c4-0"><span class="ng-tns-c4-0"><i class="fa fa-arrow-up text-success mr-2"></i></span></td>
                <td class="ng-tns-c6-0">Temparature Sensor Alert</td>
                <td class="ng-tns-c6-0"><small class="text-muted"><i class="fa fa-clock-o"></i> 2 days ago</small></td>
              </tr>
              <tr class="ng-tns-c6-0">
                <td class="ng-tns-c4-0"><span class="ng-tns-c4-0"><i class="fa fa-arrow-up text-danger mr-2"></i></span></td>
                <td class="ng-tns-c6-0">Temparature Sensor Alert</td>
                <td class="ng-tns-c6-0"><small class="text-muted"><i class="fa fa-clock-o"></i> 2 days ago</small></td>
              </tr>
              <tr class="ng-tns-c6-0">
                <td class="ng-tns-c4-0"><span class="ng-tns-c4-0"><i class="fa fa-arrow-up text-warning mr-2"></i></span></td>
                <td class="ng-tns-c4-0">Temparature Sensor Alert</td>
                <td class="ng-tns-c6-0"><small class="text-muted"><i class="fa fa-clock-o"></i> 2 days ago</small></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-6 col-full" widget>
    <div class="silk-card border-success pb-0">
      <div class="silk-card-title d-flex justify-content-between">
      </div>
      <div class="silk-card-content widget-body">
        <tabset>
          <tab heading="Details">
            <div class="table-responsive">
              <table class="table table-middle table-striped">
                <tbody class="ng-tns-c6-0">
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Incident Id</td>
                    <td class="ng-tns-c6-0">INC001</td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Incident Name</td>
                    <td class="ng-tns-c6-0">Incident Buoys</td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Location (Lat/Long)</td>
                    <td class="ng-tns-c6-0">50.166,25.636</td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Description</td>
                    <td class="ng-tns-c6-0">Test Incident</td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Site ID</td>
                    <td class="ng-tns-c6-0">SO123</td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Alert ID</td>
                    <td class="ng-tns-c6-0">Alert123</td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Alert Name</td>
                    <td class="ng-tns-c6-0">Sensor Alert</td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">BUOYS ID</td>
                    <td class="ng-tns-c6-0">Buoys123</td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Created By</td>
                    <td class="ng-tns-c6-0">James</td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Created Date</td>
                    <td class="ng-tns-c6-0">06/09/2018</td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Status</td>
                    <td class="ng-tns-c6-0">
                      <select id="exampleSelect1">
                        <option>Closed</option>
                        <option>Re-Open</option>
                      </select>
                    </td>
                  </tr>
                  <tr class="ng-tns-c6-0">
                    <td class="ng-tns-c6-0">Remarks</td>
                    <td class="ng-tns-c6-0">
                      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </tab>
          <tab heading="Logs">
            <div class="latest-post pt-4">
              <div class="media mb-3">

                <div class="media-body">
                  <h4 class="mt-0">Cras sit amet nibh libero</h4>
                  <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Cras sit amet nibh libero.</p>
                </div>
              </div>
              <div class="media mb-3">

                <div class="media-body">
                  <h4 class="mt-0">Cras sit amet nibh libero</h4>
                  <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Cras sit amet nibh libero.</p>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>