<div class="pageWrapper headerSection">
  <div class="headerSection col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="headerTitle col-xs-8 col-sm-8 col-md-8 col-lg-8">
        Buoys Dashboard
      </div>
      <div class="settings col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        <a href="javascript:void(0)" (click)="mondalOpen = !mondalOpen"><i class="fa fa-gear"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
    <div class="silk-card border-success">
      <div class="silk-card-title d-flex justify-content-between">
        <h4>BUOYS Information</h4>
      </div>
      <div class="widget-body" *ngIf="resultStatus === 'Success' && restItems.length ===0" style="height: 400px;">
        <p>{{resultStatusMessage}}</p>
      </div>
      <div class="widget-body" *ngIf="resultStatus === 'Failed'" style="height: 400px;">
        <p>{{resultStatusMessage}}</p>
      </div>
      <div class="widget-body" *ngIf="restItems.length > 0">
        <mat-card style="padding: 0;">
          <ngx-datatable class="material sorting customTable" [rows]="restItems" [sortType]="'multi'" [columnMode]="'standard'"
            [headerHeight]="50" [footerHeight]="30" [rowHeight]="30" [scrollbarV]="true">
            <ngx-datatable-column name="Station Id" [width]="115"></ngx-datatable-column>
            <ngx-datatable-column name="Station Name" [width]="150">
              <!-- <div class="text-center">{{value}}</div> -->
            </ngx-datatable-column>
            <ngx-datatable-column name="Temperature" [width]="135">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="text-center" [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <=25, 'aboveAvg' : value>= 51}">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Blue Green Algae" [width]="175">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <!-- <div [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <=25, 'aboveAvg' : value>= 51}">{{value + "k"}}</div> -->
                <div class="text-center" [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <=25, 'aboveAvg' : value>= 51}">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Conductivity" [width]="140">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="text-center" [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <=25, 'aboveAvg' : value>= 51}">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Battery" [width]="95">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="text-center" [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <=25, 'aboveAvg' : value>= 51}">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Cholorophyll A" [width]="160">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="text-center" [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <=25, 'aboveAvg' : value>= 51}">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Salinity" [width]="100">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="text-center" [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <=25, 'aboveAvg' : value>= 51}">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="DOSAT" [width]="100">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="text-center" [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <=25, 'aboveAvg' : value>= 51}">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Dissolved" [width]="125">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="text-center" [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <=25, 'aboveAvg' : value>= 51}">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="pH" [width]="70">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="text-center" [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <=25, 'aboveAvg' : value>= 51}">{{value}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Efficiency" [width]="130">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="progress mb-2">
                  <div class="efficiency text-center" [style.width]="value + '%'" aria-valuenow="value" [ngClass]="{'avg': value >= 26 && value <= 50, 'belowAvg' : value <= 25, 'aboveAvg' : value>= 51}">{{value}}%</div>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="mondalWindow" [ngClass]="mondalOpen ? 'open' : 'close'">
  <a href="javascript:void(0)" class="closeBtn" (click)="mondalOpen = false"><i class="glyphicon glyphicon-remove"></i></a>
  <div class="modalBody">
    <div>
      <label for="lastModified">
        <input [(ngModel)]="radioGroup" (change)="handleFormChange(radioGroup)" type="radio" id="lastModified" name="buoysDashboard"
          value="lastModified" />
        <span>Last Modified</span>
      </label>
    </div>

    <div>
      <label for="currentDay">
        <input [(ngModel)]="radioGroup" (change)="handleFormChange(radioGroup)" type="radio" id="currentDay" name="buoysDashboard"
          value="currentDay" />
        <span>Current Day</span>
      </label>
    </div>

    <div>
      <label for="lastoneweek">
        <input [(ngModel)]="radioGroup" (change)="handleFormChange(radioGroup)" type="radio" id="lastoneweek" name="buoysDashboard"
          value="lastoneweek" />
        <span>Last one week</span>
      </label>
    </div>
    <div>
      <label for="lasttwoweeks">
        <input [(ngModel)]="radioGroup" (change)="handleFormChange(radioGroup)" type="radio" id="lasttwoweeks" name="buoysDashboard"
          value="lasttwoweeks" />
        <span>Last two weeks</span>
      </label>
    </div>

    <div>
      <label for="lastOneMonth">
        <input [(ngModel)]="radioGroup" (change)="handleFormChange(radioGroup)" type="radio" id="lastOneMonth" name="buoysDashboard"
          value="lastOneMonth" />
        <span>Last 1 month</span>
      </label>
    </div>

    <div>
      <label for="lastTwoMonths">
        <input [(ngModel)]="radioGroup" (change)="handleFormChange(radioGroup)" type="radio" id="lastTwoMonths" name="buoysDashboard"
          value="lastTwoMonths" />
        <span>Last 2 months</span>
      </label>
    </div>
    <div>
      <label for="lastThreeMonths">
        <input [(ngModel)]="radioGroup" (change)="handleFormChange(radioGroup)" type="radio" id="lastThreeMonths" name="buoysDashboard"
          value="lastThreeMonths" />
        <span>Last 3 months</span>
      </label>
    </div>
    <div>
      <label for="choosePeriod">
        <input [(ngModel)]="radioGroup" (change)="handleFormChange(radioGroup)" type="radio" id="choosePeriod" name="buoysDashboard"
          value="choosePeriod" />
        <span>Choose Period</span>
      </label>
    </div>
    <div class="datefilter">
      <label>
        <span>From</span>
        <!-- <input type="date" [(ngModel)]="fromDateFilter" name="fromDate" id="fromDate" placeholder="From Date" [max]="dateval" /> -->
        <input type="date" id="example-date-input" [(ngModel)]="fromDateFilter" (change)="dateRangeValidate(fromDateFilter, 'start')"
          [min]="startMinDate" [max]="startMaxDate">
      </label>
      <label>
        <span>To</span>
        <!-- <input type="date" [(ngModel)]="toDateFilter" name="toDate" id="toDate" placeholder="To Date" [max]="dateval" /> -->
        <input type="date" id="example-date-input" [(ngModel)]="toDateFilter" (change)="dateRangeValidate(toDateFilter, 'end')"
          [min]="endMinDate" [max]="endMaxDate">
      </label>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" (click)="chooseDatesPeriod(fromDateFilter,toDateFilter)">Apply</button>
    </div>
  </div>
</div>