.sorting {
    height: 400px !important;
}

.is-temparature-min {
    color: red;
}

.is-temparature-avg {
    color: yellowgreen;
}

.is-temparature-max {
    color: green;
}
.silk-card {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: 5px;
}
.border-success {
    border-top: 2px solid #32936f !important;
}
.ngx-datatable.material {
    background: #fff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.customTable {
    background-color: #fff;
    .belowAvg {
        color: #c00;
        &.efficiency{
            background-color: #c00; 
            color: #000;
        }
    }
    .avg{
        color: orangered;
        &.efficiency {
            background-color: orangered;
            color: #fff;
        }
    }
    .aboveAvg{
        color: green;
        &.efficiency {
            background-color: green;
            color: #fff;
        }
    }
}

.modalBody{
    display: block;
    margin-top: 15px;
    label{
        
        span{
            padding-left: 15px;
        }
    }
    .datefilter{
        label{
            display: block;
            font-size: 12px;
            text-align: center;
            span, input{
                display: inline-block;
                width: 50px;
                text-align: left;
            }
            span{
                padding-left: 0px;
            }
            input{
                width: calc(100% - 50px);
                border: none;
                outline: none;
                box-shadow: none;
                border-radius: 5px;
                text-align: center;
            }
        }
    }
}